@charset "utf-8";
@import "reset.css";
@import "common.css";
@import "layout.css";

@font-face { 
	font-family:'modernh-bold-webfont';
    src: url('/common/font/modernh-bold-webfont.eot');
    src: local(※), url('/common/font/modernh-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/common/font/modernh-bold-webfont.woff') format('woff'), url('/common/font/modernh-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face { 
	font-family:'modernh-medium-webfont';
    src: url('/common/font/modernh-medium-webfont.eot');
    src: local(※), url('/common/font/modernh-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/common/font/modernh-medium-webfont.woff') format('woff'), url('/common/font/modernh-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face { 
	font-family:'modernh-light-webfont';
    src: url('/common/font/modernh-light-webfont.eot');
    src: local(※), url('/common/font/modernh-light-webfont.eot?#iefix') format('embedded-opentype'), url('/common/font/modernh-light-webfont.woff') format('woff'), url('/common/font/modernh-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face { 
	font-family:'modernh-ecolight-webfont';
    src: url('/common/font/modernh-ecolight-webfont.eot');
    src: local(※), url('/common/font/modernh-ecolight-webfont.eot?#iefix') format('embedded-opentype'), url('/common/font/modernh-ecolight-webfont.woff') format('woff'), url('/common/font/modernh-ecolight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.skip_nav {position:absolute;width:0px;height:0px;left:-99999px;font-size:0;line-height:0;overflow:hidden;}
.hidden {position:absolute;width:0px;height:0px;text-indent:-9999px;font-size:0;line-height:0;overflow:hidden;}
.blind {width:0px;height:0px;text-indent:-9999px;font-size:0;line-height:0;overflow:hidden;}
#wrap {position:relative;width:100%;}

/* ====================== */
/*  PC  */
/* ====================== */
@media screen and (min-width:1025px){ 

/*메인*/
h1 {position:absolute;top:20px;left:30px;}
h1.btn_menu {display:none;}
h1.btn_close {display:none;}
#header {position:fixed;width:100%;height:80px;border-bottom:4px solid #4892af;z-index:1000;background:#fff;outline:1px solid #c64;} 
#header .extend {position:absolute;top:84px;filter:alpha(opacity=87);opacity:0.87;-moz-opacity:0.87;width:100%;height:220px;background:#fff;outline:1px solid #c64;}
#gnb {position:absolute;margin:-55px 0 0 0;right:5%;letter-spacing:-1px;z-index:100;}
#gnb ul {font-size:20px;}
#gnb ul>li {font-family:'modernh-bold-webfont';float:left;padding:0 30px;}
#gnb ul>li ul {font-family:'modernh-light-webfont';margin:20px 0 0 -15px;outline:1px solid #c64;}
#gnb ul>li ul>li {margin:0 0 15px 0;font-size:14px;clear:both;}
#gnb ul>li ul>li a {}
#gnb ul>li ul>li a:hover {text-decoration:underline;color:#4891ae;}
#gnb ul>li.on>a {padding-bottom:30px;color:#5498b3;background:url(../../images/common/bg_gnb_on.png) no-repeat center 44px;}
#gnb ul>li:after {content:"";clear:both;display:block;}
#header .lang a {position:absolute;top:33px;right:30px;font-size:16px;color:#999999;}
.gnb_area {width:100%;background:url(../../images/common/__bg_gnb_area.png) repeat;}
.gnb_sub_area_01 {position:absolute;top:0px;left:-66px;width:620px;outline:1px solid #c64;}
.gnb_sub_area_02 {position:absolute;top:0px;left:-271px;width:820px;outline:1px solid #c64;}
.gnb_sub {float:left;width:200px;height:190px;margin:88px 0 0 0;padding:0px 0 0 0;border-left:1px solid #dfdfdf;}
.gnb_sub strong {margin:0 0 0 15px;font-size:16px;}

#content_area_main {padding-top:80px;}
#content_area_main .btn_prev {position:fixed;top:420px;left:0;width:80px;height:80px;background:url(../../images/main/btn_prev_off.png) no-repeat;z-index:1000;}
#content_area_main .btn_prev.on {background:url(../../images/main/btn_prev_on.png) no-repeat;}
#content_area_main .btn_next {position:fixed;top:420px;right:0;width:80px;height:80px;background:url(../../images/main/btn_next_off.png) no-repeat;z-index:1000;}
#content_area_main .btn_next.on {background:url(../../images/main/btn_next_on.png) no-repeat;}

.page {position:absolute;top:880px;left:50%;width:150px;}
.page li a {float:left;width:20px;height:20px;margin:0 20px 0 0;background:url(../../images/main/btn_off.png) no-repeat;}
.page li a.on {background:url(../../images/main/btn_on.png) no-repeat;}

#content_area_main {overflow:hidden;}
.main_visual {width:800%;position:relative;background:#f1f0ed;}
.main_visual ul {}
.main_visual ul li {display:block;float:left;position:relative;width:100%;max-width:1920px;height:999px;max-height:999px;}
.main_visual ul li.img_01 {background:url(../../images/main/img_visual_01.jpg) no-repeat;background-size: 100%;}
.main_visual ul li.img_02 {background:url(../../images/main/img_visual_02.jpg) no-repeat;background-size: 100%;}
.main_visual ul li.img_03 {background:url(../../images/main/img_visual_03.jpg) no-repeat;background-size: 100%;}
.main_visual ul li .txt_01 {position:absolute;top:182px;right:448px;}
.main_visual ul li:after {content:"";clear:both;display:block;}

.main_movie_area {position:absolute;top:570px;right:347px;}
.main_movie_area a {float:left;margin:0 20px 0 0;}
.main_movie_area a img {width:180px;}

 #footer {padding:30px 0 30px 30px;clear:both;}

/*서브메인*/


}





/* ====================== */
/*  tablet   */
/* ====================== 
@media screen and (min-width:769px) and (max-width:1024px) {



}

 */


/* ====================== */
/*  mobile   */
/* ====================== */                            
@media only screen and (max-width:1024px){

h1 {margin:14px 0 14px 0;text-align:center;}
h1.btn_menu {position:absolute;top:25px;left:15px;width:27px;height:25px;background:url(../../images/common/btn_menu.png) no-repeat;background-size:100%;}
h1.btn_close {position:absolute;top:25px;left:15px;width:27px;height:25px;background:url(../../images/common/btn_close.png) no-repeat;background-size:100%;}
#header {position:fixed;width:100%;height:auto;border-bottom:6px solid #4892af;z-index:1000;background:#fff;} 
#gnb {font-family:'modernh-bold-webfont';position:absolute;width:100%;border-bottom:3px solid #4892af;z-index:100;}
#gnb ul {margin:0 0 -5px 0;font-size:19px;}
#gnb ul>li {width:100%;margin:0 0 0px 0;padding:18px 15px 18px 20px;border-bottom:1px solid #336b81;text-align:left;background:#4891ae url(../../images/common/icon_arrow_up.png) no-repeat 90% 25px;background-size:13px 7px;}
#gnb ul>li.on {background:#4891ae url(../../images/common/icon_arrow_down.png) no-repeat 90% 25px;background-size:13px 7px;}
#gnb ul>li.on>a {text-decoration:underline;}
#gnb ul>li>a {display:block;color:#fff;}
#gnb ul>li ul {margin:0;}
#gnb ul>li ul>li {padding:8px 0 8px 40px;font-size:13px;border-bottom:none;background:#fff;}
#gnb ul>li ul>li>a {color:#000;}
#gnb ul>li ul>li>a:hover {text-decoration:underline;color:#4891ae;}

#gnb ul>li:after {content:"";clear:both;display:block;}
#header .lang a {position:absolute;top:24px;right:15px;font-size:18px;color:#999999;}
.gnb_area {width:100%;border-top:1px solid #e5e5e5;}
.gnb_sub_area_01,.gnb_sub_area_02 {margin:20px 0 -18px -35px;padding:0 0 0 0px;border-bottom:1px solid #e5e5e5;}
.gnb_sub {padding:0 0 0 0px;}
.gnb_sub strong a {display:block;margin:0 0 0 0px;padding:10px 0 10px 40px;font-size:13px;color:#000;background:#e2e2e2;}

#content_area_main {padding-top:80px;}
#content_area_main .btn_prev {display:none;position:absolute;top:420px;left:0;z-index:100;}
#content_area_main .btn_next {display:none;position:absolute;top:420px;right:0;z-index:100;}

.page {position:absolute;top:95px;left:50%;width:105px;margin:0 0 0 -50px;text-align:center;}
.page li a {float:left;width:20px;height:20px;margin:0 15px 0 0;background:url(../../images/main/btn_off.png) no-repeat;}
.page li a.on {background:url(../../images/main/btn_on.png) no-repeat;}

#content_area_main {overflow:hidden;background:#f1f0ed;}
.main_visual {width:300%;}
.main_visual ul {}
.main_visual ul li {display:block;float:left;position:relative;width:33%;height:auto;}
.main_visual ul li.img_01 {background:url(../../images/main/m_img_visual_01.jpg) no-repeat;background-size:100%;}
.main_visual ul li.img_02 {background:url(../../images/main/m_img_visual_02.jpg) no-repeat;background-size:100%;}
.main_visual ul li.img_03 {background:url(../../images/main/m_img_visual_03.jpg) no-repeat;background-size:100%;}
.main_visual ul li .txt_01 {position:absolute;top:12%;left:10%;}
.main_visual ul li .txt_01 img {width:75%;}
.main_visual ul li
.main_visual ul li
.main_visual ul li:after {content:"";clear:both;display:block;}

.main_movie_area {padding:90% 15px 0 15px;}
.main_movie_area a {display:block;padding:0 0 15px 0;}
.main_movie_area a img {width:100%;}


#footer {width:100%;background:#fff;}
#footer p {font-family:'modernh-medium-webfont';margin:30px 0 30px 30px;font-size:18px;}

/*서브메인*/

}