@charset "utf-8"; 
@import "reset.css"; 
@import "common.css"; 
@import "layout.css"; 

@font-face { 
	font-family:'modernh-bold-webfont'; 
    src: url('/common/font/modernh-bold-webfont.eot'); 
    src: local(※), url('/common/font/modernh-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/common/font/modernh-bold-webfont.woff') format('woff'), url('/common/font/modernh-bold-webfont.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
	font-family:'modernh-medium-webfont'; 
    src: url('/common/font/modernh-medium-webfont.eot'); 
    src: local(※), url('/common/font/modernh-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/common/font/modernh-medium-webfont.woff') format('woff'), url('/common/font/modernh-medium-webfont.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
	font-family:'modernh-light-webfont'; 
    src: url('/common/font/modernh-light-webfont.eot'); 
    src: local(※), url('/common/font/modernh-light-webfont.eot?#iefix') format('embedded-opentype'), url('/common/font/modernh-light-webfont.woff') format('woff'), url('/common/font/modernh-light-webfont.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
	font-family:'modernh-ecolight-webfont'; 
    src: url('/common/font/modernh-ecolight-webfont.eot'); 
    src: local(※), url('/common/font/modernh-ecolight-webfont.eot?#iefix') format('embedded-opentype'), url('/common/font/modernh-ecolight-webfont.woff') format('woff'), url('/common/font/modernh-ecolight-webfont.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}


.skip_nav {position:absolute; width:0px; height:0px; left:-99999px; font-size:0; line-height:0; overflow:hidden;}
.hidden {position:absolute; width:0px; height:0px; text-indent:-9999px; font-size:0; line-height:0; overflow:hidden;}
.blind {width:0px; height:0px; text-indent:-9999px; font-size:0; line-height:0; overflow:hidden;}
#wrap {position:relative; width:100%;}

/* ====================== */
/*  PC  */
/* ====================== */

/*메인*/
h1 {position:absolute; top:20px; left:30px;}
.btn_menu {display:none;}
.btn_close {display:none;}
#header {position:fixed; width:100%; height:80px; border-bottom:4px solid #4892af; z-index:1000; background:#fff; outline:1px solid #c64;} 
#header .extend {position:absolute; top:84px; opacity:0.87; width:100%; background:#fff;}
#gnb {position:absolute; margin:-55px 0 0 0; right:5%; letter-spacing:-1px; z-index:100;}
#gnb ul {font-size:20px;}
#gnb ul>li {font-family:'modernh-bold-webfont'; float:left; padding:0 30px;}
#gnb ul>li ul {font-family:'modernh-light-webfont'; margin:20px 0 0 -15px; outline:1px solid #c64;}
#gnb ul>li ul>li {margin:0 0 15px 0; font-size:14px; clear:both;}
#gnb ul>li ul>li a {}
#gnb ul>li ul>li a:hover {text-decoration:underline; color:#4891ae;}
#gnb ul>li.on>a {padding-bottom:30px; color:#5498b3; background:url(../../images/common/bg_gnb_on.png) no-repeat center 44px;}
#gnb ul>li:after {content:""; clear:both; display:block;}
#header .lang a {position:absolute; top:33px; right:30px; font-size:16px; color:#999999;}
.gnb_area {width:100%; background:url(../../images/common/__bg_gnb_area.png) repeat;}
.gnb_sub_area_01 {position:absolute; top:0px; left:-66px; width:620px; outline:1px solid #c64;}
.gnb_sub_area_02 {position:absolute; top:0px; left:-271px; width:820px; outline:1px solid #c64;}
.gnb_sub {float:left; width:200px; height:190px; margin:88px 0 0 0; padding:0px 0 0 0; border-left:1px solid #dfdfdf;}
.gnb_sub strong {margin:0 0 0 15px; font-size:16px;}

#content_area_main {padding-top:80px;}
#content_area_main .box_arrow_main_1 a,
.histroy_list li > div > p,
.main_visual ul li .txt_01 {-webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
#content_area_main .box_arrow_main_1 a {position:fixed; top:100px; z-index:1000; width:80px; height:80px; background-repeat:no-repeat; background-position:0 0;}
#content_area_main .btn_prev {left:0; background-image:url(../../images/main/btn_prev_off.png);}
#content_area_main .btn_prev.on {background-image:url(../../images/main/btn_prev_on.png) no-repeat;}
#content_area_main .btn_next {right:0; background-image:url(../../images/main/btn_next_off.png);}
#content_area_main .btn_next.on {background-image:url(../../images/main/btn_next_on.png) no-repeat;}

.page {position:absolute; top:88.088%; left:0; width:100%; font-size:0; text-align: center;}
.page li {display:inline;}
.page li a {display:inline-block; width:20px; height:20px; margin:0 20px 0 0; background:url(../../images/main/btn_off.png) no-repeat;}
.page li a.on {background:url(../../images/main/btn_on.png) no-repeat;}

#content_area_main {overflow:hidden;}
.main_visual {overflow:hidden; position: relative ; width:100%; background:#f1f0ed;}
.main_visual > ul {width:500%;}
.main_visual > ul:after {display: block; clear: both; visibility: hidden; height:0; content: '';}
.main_visual > ul > li {display:block; float:left; position:relative; width:100%; height:0;}
.main_visual > ul > li.img_01 {background:url(../../images/main/img_visual_01.jpg) no-repeat; background-size: 100%;}
.main_visual > ul > li.img_02 {background:url(../../images/main/img_visual_02.jpg) no-repeat; background-size: 100%;}
.main_visual > ul > li.img_03 {background:url(../../images/main/img_visual_03.jpg) no-repeat; background-size: 100%;}
.main_visual > ul > li .txt_01 {width:24.635%; position:absolute; top:18.22% ; left:52%;}
.main_visual > ul > li .txt_01 img {width:100%;}
.main_visual > ul > li:after {content:""; clear:both; display:block;}

.main_movie_area {position: absolute; top:57.057%; left:50.5%; width:31.375%;}
.main_movie_area li {float:left; width:33.333%;}
.main_movie_area li a {display: block; padding-right:9%;}
.main_movie_area a img {width:100%;}


/*서브메인*/
.sub_visual {width:100%; height:200px;}
.sub_visual.n_01 {position:relative; background:#f1f0ed url(../../images/common/img_sub_visual_01.jpg) no-repeat center 0;}
.sub_visual	h2 {display:block; padding:74px 0 0 0; text-align:center; font-size:60px; color:#333333;}
.navi_area {}
.navi_area .btn_prev {position:absolute; top:63px; left:17px; width:38px; height:73px; background:url(../../images/common/btn_prev.png) no-repeat;}
.navi_area .btn_next {position:absolute; top:63px; right:17px; width:38px; height:73px; background:url(../../images/common/btn_next.png) no-repeat;}
.navi_area strong {display:block; position:absolute; top:27px; left:68px; width:200px; font-size:18px;}
.content_sub {width:1024px; margin:0 auto;}
.content_sub>h2 strong {display:block; margin:60px 0 40px 0; font-size:50px; color:#4891ae;}

.location {position:relative; text-align:right;}
.location ul {position:absolute; top:-30px; right:0; padding:0 11px 0 22px; font-size:14px; background:url(../../images/common/icon_home.gif) no-repeat 0 3px;}
.location li {float:left; padding:0 11px 0 11px; color:#666666; background:url(../../images/common/icon_arrow.gif) no-repeat left 2px;}
.location li:last-child	{text-decoration:underline; color:#000000;}

#content_area_sub_main {position:relative; padding-top:80px; letter-spacing:-2px;}
.dream_list li {float:left; position: relative; width:33.33333%; height:0; margin-bottom:2px; padding-top:16.09193793103448%;}
.dream_list li div {position: absolute; top:0; left:0; width:100%; height:100%;}
.dream_list li p {height: 100%; margin-right:2px; margin-bottom:2px; text-align:center; background-repeat:no-repeat; background-size:100% 100%;}
.dream_list li p > img {position: relative; top:25.97402597402597%; left:0; width:100%; margin:0 auto;}
.dream_list li p a {position:absolute; top:60%; left:50%; width:154px; height:52px; margin:0 0 0 -77px; background:url(../../images/main/btn_detail_view.png) no-repeat;}   
.dream_list li p a.on {background-image:url(../../images/main/btn_detail_view_on.png);}
.dream_list li.li_1 p {background-image:url(../../images/main/img_sub_main_dream_01.jpg);}
.dream_list li.li_2 p {background-image:url(../../images/main/img_sub_main_dream_02.jpg);}
.dream_list li.li_3 p {background-image:url(../../images/main/img_sub_main_dream_03.jpg);}
.dream_list li.li_4 p {background-image:url(../../images/main/img_sub_main_dream_04.jpg);}
.dream_list li.li_5 p {background-image:url(../../images/main/img_sub_main_dream_05.jpg);}
.dream_list li.li_6 p {background-image:url(../../images/main/img_sub_main_dream_06.jpg);}
.dream_list li.li_7 p {background-image:url(../../images/main/img_sub_main_dream_07.jpg);}
.dream_list li.li_8 p {background-image:url(../../images/main/img_sub_main_dream_08.jpg);}
.dream_list li.li_9 p {background-image:url(../../images/main/img_sub_main_dream_09.jpg);}

.histroy_list {}
.histroy_list li {float:left; position: relative; width:25%; height:0; padding-top:49%;}
.histroy_list li > div {position: absolute; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; background-position:center 60%;}
.histroy_list li > div > p {height:100%; margin-left:5px; background:#f1f0ed; background-repeat:no-repeat; background-position:center 18.279%; background-size:80%;}
.histroy_list li > div > p:hover {background-color:#4891ae; background-image:url(../../images/main/icon_arrow_down.png); background-position: center 20%;}
.histroy_list li > div > p:after {background-color:#4891ae; background-image:url(../../images/main/icon_arrow_down.png); background-position: center 20%;}
.histroy_list li:first-child > div > p {margin-left:0;}
.histroy_list li.on {background:#4891ae url(../../images/main/icon_arrow_down.png) no-repeat center 340px; background-size:15%;}
.histroy_list li.li_1 p:after {background-image:url(../../images/main/img_sub_main_history_01.png);}
.histroy_list li.li_2 p:after {background-image:url(../../images/main/img_sub_main_history_02.png);}
.histroy_list li.li_3 p:after {background-image:url(../../images/main/img_sub_main_history_03.png);}
.histroy_list li.li_4 p:after {background-image:url(../../images/main/img_sub_main_history_04.png);}

.histroy_list li.li_1 p {background-image:url(../../images/main/txt_sub_main_history_01.png);}
.histroy_list li.li_1 p:hover {background-image:url(../../images/main/txt_sub_main_history_01_on.png);}
.histroy_list li.li_2 p {background-image:url(../../images/main/txt_sub_main_history_02.png);}
.histroy_list li.li_2 p:hover {background-image:url(../../images/main/txt_sub_main_history_02_on.png);}
.histroy_list li.li_3 p {background-image:url(../../images/main/txt_sub_main_history_03.png);}
.histroy_list li.li_3 p:hover {background-image:url(../../images/main/txt_sub_main_history_03_on.png);}
.histroy_list li.li_4 p {background-image:url(../../images/main/txt_sub_main_history_04.png);}
.histroy_list li.li_4 p:hover {background-image:url(../../images/main/txt_sub_main_history_04_on.png);}

.echo_list {width:1280px; margin:30px auto 0 auto; outline:1px solid #c64;}
.echo_list li {position:relative; float:left; width:290px; margin:0 24px 24px 0; background:#f1f0ed; outline:1px solid #c64;}
.echo_list li h2 {position:relative; margin:50% 0 0 0; color:#fff; font-size:34px; text-align:center; z-index:100;}
.echo_list li h3 strong {display:block; font-size:30px;}
.echo_list li span {display:block; margin:18px 0 30px 0; color:#333333; font-size:14px;}
.echo_list li p {padding:0 0 80px 0; color:#5a5a5a; font-size:14px; line-height:24px;}
.echo_list div {padding:56px 30px 0 30px; color:#333333;}
.echo_list div.on {min-height:100%; font-size:18px; background:#5196b1; filter:alpha(opacity=95); opacity:0.95; -moz-opacity:0.95; cursor:pointer;}
.echo_list div.on a {position:absolute; top:50%; left:50%; margin:0 0 0 -28px; width:43px; height:43px; color:#fff; text-align:center; background:url(../../images/echo/btn_more_on.png) no-repeat; outline:1px solid #c64;}
.echo_list div a strong {display:block; width:90px; margin:0 0 0 -25px; padding:50px 0 0 0; text-decoration:underline; outline:1px solid #c64;}
.echo_list div.img_h2_01 {position:absolute; top:0; left:0; margin:0; width:290px; min-height:370px; background:url(../../images/echo/img_h2_01.jpg) no-repeat;}




#footer {padding:30px 0 30px 30px; clear:both;}


/* ====================== */
/*  tablet   */
/* ====================== 
@media screen and (min-width:769px) and (max-width:1024px) {



}

 */


/* ====================== */
/*  mobile   */
/* ====================== */                            
@media only screen and (max-width:1024px){

    h1 {margin:14px 0 14px 0; text-align:center;}
    .btn_menu {position:absolute; top:25px; left:15px; width:27px; height:25px; background:url(../../images/common/btn_menu.png) no-repeat; background-size:100%;}
    .btn_close {position:absolute; top:25px; left:15px; width:27px; height:25px; background:url(../../images/common/btn_close.png) no-repeat; background-size:100%;}
    #header {position:fixed; width:100%; height:auto; border-bottom:6px solid #4892af; z-index:1000; background:#fff;} 
    #gnb {font-family:'modernh-bold-webfont'; position:absolute; width:100%; border-bottom:3px solid #4892af; z-index:100;}
    #gnb ul {margin:0 0 -5px 0; font-size:19px;}
    #gnb ul>li {width:100%; margin:0 0 0px 0; padding:18px 15px 18px 20px; border-bottom:1px solid #336b81; text-align:left; background:#4891ae url(../../images/common/icon_arrow_up.png) no-repeat 90% 25px; background-size:13px 7px;}
    #gnb ul>li.on {background:#4891ae url(../../images/common/icon_arrow_down.png) no-repeat 90% 25px; background-size:13px 7px;}
    #gnb ul>li.on>a {text-decoration:underline;}
    #gnb ul>li>a {display:block; color:#fff;}
    #gnb ul>li ul {margin:0;}
    #gnb ul>li ul>li {padding:8px 0 8px 40px; font-size:13px; border-bottom:none; background:#fff;}
    #gnb ul>li ul>li>a {color:#000;}
    #gnb ul>li ul>li>a:hover {text-decoration:underline; color:#4891ae;}

    #gnb ul>li:after {content:""; clear:both; display:block;}
    #header .lang a {position:absolute; top:24px; right:15px; font-size:18px; color:#999999;}
    .gnb_area {width:100%; border-top:1px solid #e5e5e5;}
    .gnb_sub_area_01,.gnb_sub_area_02 {margin:20px 0 -18px -35px; padding:0 0 0 0px; border-bottom:1px solid #e5e5e5;}
    .gnb_sub {padding:0 0 0 0px;}
    .gnb_sub strong a {display:block; margin:0 0 0 0px; padding:10px 0 10px 40px; font-size:13px; color:#000; background:#e2e2e2;}

    #content_area_main {padding-top:80px;}
    #content_area_main .btn_prev {display:none; position:absolute; top:420px; left:0; z-index:100;}
    #content_area_main .btn_next {display:none; position:absolute; top:420px; right:0; z-index:100;}

    .page {position:absolute; top:95px; left:50%; width:105px; margin:0 0 0 -50px; text-align:center;}
    .page li a {float:left; width:20px; height:20px; margin:0 15px 0 0; background:url(../../images/main/btn_off.png) no-repeat;}
    .page li a.on {background:url(../../images/main/btn_on.png) no-repeat;}

    #content_area_main {overflow:hidden; background:#f1f0ed;}
    .main_visual {width:300%;}
    .main_visual ul {}
    .main_visual ul li {display:block; float:left; position:relative; width:33%; height:auto;}
    .main_visual ul li.img_01 {background:url(../../images/main/m_img_visual_01.jpg) no-repeat; background-size:100%;}
    .main_visual ul li.img_02 {background:url(../../images/main/m_img_visual_02.jpg) no-repeat; background-size:100%;}
    .main_visual ul li.img_03 {background:url(../../images/main/m_img_visual_03.jpg) no-repeat; background-size:100%;}
    .main_visual ul li .txt_01 {position:absolute; top:12%; left:10%;}
    .main_visual ul li .txt_01 img {width:75%;}
    .main_visual ul li
    .main_visual ul li
    .main_visual ul li:after {content:""; clear:both; display:block;}

    .main_movie_area {padding:90% 15px 0 15px;}
    .main_movie_area a {display:block; padding:0 0 15px 0;}
    .main_movie_area a img {width:100%;}

    /*서브메인*/

    #footer {width:100%; background:#fff;}
    #footer p {font-family:'modernh-medium-webfont'; margin:30px 0 30px 30px; font-size:18px;}

}