@charset "utf-8"; 
@import "reset.css"; 
@import "common.css"; 


.skip_nav,
.skip_nav ul {height:0; width:100%;}
.skip_nav a {position:absolute; top:-9999px; left:0; z-index:1000; width:100%; height:30px; background-color:#000; font-weight:bold; color:#fff; line-height:30px; font-family:'NanumBold'; opacity:0.6; text-align:center; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter:alpha(opacity=60);}
.skip_nav a:focus,
.skip_nav a:hover,
.skip_nav a:active{top:0;}
.hidden {position:absolute; width:0px; height:0px; text-indent:-9999px; font-size:0; line-height:0; overflow:hidden;}
.blind {width:0px; height:0px; text-indent:-9999px; font-size:0; line-height:0; overflow:hidden;}
#wrap {position:relative; width:100%;}

/*메인*/
#header h1 {position:absolute; top:20px; left:30px;}
.btn_menu {display:none;}
#header {position:fixed; width:100%; height:83px; z-index:1; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/bg_gnb_1.png) repeat-x;z-index:1000;} 
#header .area_header {position:relative; background:#fff;}
#header .area_header #gnb h1 {display: none;}
#header .lang a {display: block; position:absolute; top:22px; right:30px; z-index: 2; padding:0 10px; border:1px solid #d0d0d0; font-size:16px; line-height:34px; color:#999;}
#gnb {position:absolute; top:10px; right:0; padding-right:95px; letter-spacing:-1px; z-index:1;}
#gnb .ul_gnb  {font-size:20px;}
#gnb .ul_gnb > li {float:left;}
#gnb .ul_gnb > li > a {display: block; position: relative; padding:20px 30px 27px; font-weight:600; }
#gnb .ul_gnb > li > a:hover {color:#4891ae;}
#gnb .ul_gnb:not(.mo_gnb) > li.on > a:after,
#gnb .ul_gnb:not(.mo_gnb) > li > a:hover:after {display: block; position: absolute; bottom:0px; left:50%; width:21px; height:11px; margin-left:-10px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/bg_gnb_on.png) no-repeat; content:'';}
#gnb .ul_gnb > li > div  {display:none; position: absolute; top:70px; right:60px; padding-top:30px;}
#gnb .ul_gnb > li.li_1 > div  {width:600px;}
#gnb .ul_gnb > li.li_2 > div  {width:800px;}
#gnb .gnb_sub {float:left; width:179px; height:190px; padding-left:20px; border-left:1px solid #dfdfdf;}
#gnb .gnb_sub .p_tit {margin-bottom:12px; font-weight:600; font-size:16px; color:#000;}
#gnb .gnb_sub ul li a {display: block; font-size:14px; line-height: 30px; color:#000; white-space: nowrap;}
#header .gnb_bg {display: block; overflow:hidden; position: absolute; top:80px; left:0; width:100%; height:0; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/bg_gnb_2.png) repeat-x left top;}

#content_area_main {padding-top:80px;}
#content_area_main .box_arrow_main_1 a,
.histroy_list li div a,
.main_visual ul li .txt_01 {-webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
#content_area_main .box_arrow_main_1 a {display:block; position:fixed; top:100px; z-index:1; width:80px; height:80px; background-color:#a0a0a0;}
#content_area_main .btn_prev {left:0;}
#content_area_main .btn_next {right:0;}
#content_area_main .box_arrow_main_1 a:hover,
#content_area_main .box_arrow_main_1 a.on {background-color:#4891ae;}
#content_area_main .box_arrow_main_1 a:after {display:block; position: absolute; top:17px; left:27px; width:25px; height:45px; background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/btn_arrow_1.png); background-repeat:no-repeat; content:'';}
#content_area_main .btn_prev:after {background-position: 0 0;}
#content_area_main .btn_next:after {background-position: -30px 0;}

.page {position:absolute; top:88.088%; left:0; width:100%; font-size:0; text-align: center;}
.page li {display:inline;}
.page li a {display:inline-block; width:20px; height:20px; margin:0 0 0 20px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/btn_off.png) no-repeat;}
.page li:first-child a {margin-left:0;}
.page li a.on {background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/btn_on.png) no-repeat;}

#content_area_main {overflow:hidden;}
.main_visual {overflow:hidden; position: relative ; width:100%; background:#f1f0ed;}
.main_visual > ul {position: relative; width:500%;}
.main_visual > ul:after {display: block; clear: both; visibility: hidden; height:0; content: '';}
.main_visual > ul > li {display:block; float:left; position:relative; width:100%; height:0;}
.main_visual > ul > li img {width:100%;}
.main_visual > ul > li.img_01 {background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_visual_01.jpg) no-repeat; background-size: 100%;}
.main_visual > ul > li.img_02 {background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_visual_02.jpg) no-repeat; background-size: 100%;}
.main_visual > ul > li.img_03 {background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_visual_03.jpg) no-repeat; background-size: 100%;}
.main_visual > ul > li .txt_01 {display:none; width:24.635%; position:absolute; top:18.22% ; left:52%;}
.main_visual > ul > li .txt_01 img {width:100%;}
.main_visual > ul > li:after {content:""; clear:both; display:block;}

.main_movie_area {position: absolute; top:57.057%; left:52.0%; width:31.375%;}
.main_movie_area li {display:none; float:left; width:33.333%;}
.main_movie_area li a {display: block; padding-right:9%;}
.main_movie_area a img {width:100%;}

#footer {/*margin-top:30px;*/ padding:30px 0 30px 30px; clear:both;}


@media only screen and (max-width:1024px){
    .echo_list > li div.li_div,
    .echo_list > li {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;}
    .content_sub {min-width:0;}
    .echo_list,
	#wrap .content_sub,
	#wrap .content_sub_1,
	#wrap .movie_area,
	#wrap .movie_area .movie,
    #wrap .content_area,
    #wrap .dream_cont_list li,
    .content_sub_1 {width:100%; min-width:0;}
    .layer_echo_pop {width:94%; margin-left:-47%;}
    .btn_more_view {width:98%;}
    .echo_list > li {width:33.33333%;}
    .echo_list > li > div.box_wrap {position: relative; width:100%; height:0; min-height:0; padding-top:127.586%;}
    .echo_list > li div.box_wrap > a {height:100%; padding-top:0;}
    .echo_list > li div.li_div {overflow:hidden; position: absolute; top:0; left: 0; width: 100%; height: 95%; padding:12% 8% 10%;}
    .echo_list > li h4>strong {font-size:24px;}
    #wrap .content_area .img_area_01,
    #wrap .content_area .img_area_02 {width:50%;}
}
@media only screen and (max-width:800px){
    #gnb,
    #gnb .gnb_sub,
    #wrap .movie_area .area_textarea textarea {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;}
    #gnb {width:100%; text-align: right;}
    #gnb .ul_gnb > li {display:inline-block; float:none;}
    #gnb .ul_gnb > li.li_1 > div,
    #gnb .ul_gnb > li.li_2 > div {right:0; width: 100%; background-color: #fff; text-align: left;}
    #gnb .ul_gnb > li.li_1 .gnb_sub {width:33.333%;}
    #gnb .ul_gnb > li.li_2 .gnb_sub {width:25%;}
    #gnb .ul_gnb > li > a {padding-left:15px; padding-right:15px;}
    .content_sub > h2 {margin-bottom: 20px; padding-left:10px; font-size:35px;}
    .echo_list > li {width:33.33333%;}
    #wrap .content_sub > h2 {font-size:30px;}
    #wrap .echo_list > li h4>strong {font-size:20px;}
    #wrap .movie_area {height:auto;}
    #wrap .movie_area .movie {position: relative; right: auto; width: 100%; height:0; padding-top:60%;}
    #wrap .movie_area .movie iframe {position: absolute; top:0; left:0; width:100%; height: 100%;}
    #wrap .movie_area .area_textarea {position: relative; right: auto; width: 100%; height:0; padding-top:40%;}
    #wrap .movie_area .area_textarea textarea {position: absolute; top:0; left:0; width:100%; height: 100%; padding:20px;}
}
@media only screen and (max-width:700px){
    #wrap #header {height:60px; border-bottom:3px solid #4891ae; -webkit-box-shadow:0 0 3px rgba(0,0,0,.2); -moz-box-shadow:0 0 3px rgba(0,0,0,.2); -o-box-shadow:0 0 3px rgba(0,0,0,.2); -ms-box-shadow:0 0 3px rgba(0,0,0,.2); box-shadow:0 0 3px rgba(0,0,0,.2); background-color:#fff; background-image: none;}
    #wrap #header .area_header > h1 {overflow: hidden; top:15px; left:50%; margin-left:-50px; width:100px;}
    #wrap #header .area_header > h1 a {display: block; overflow:hidden; width:100%; height:0; padding-top:30px; background: url(http://hyundaicard.ipartners.co.kr/kor/images/mobile/logo.png) no-repeat; background-size: contain; text-indent: -10000px;}
    #wrap #header .lang a {top:17px; right:15px; font-size:12px; line-height: 21px;}
    #wrap #header .area_header #gnb h1 {display: block; position: fixed; top:10px; left:11px;}
    #wrap #header .area_header #gnb h1 a {display: block; overflow: hidden; position: relative; width:28px; height:0; padding:35px 5px 0; text-indent: -10000px;}
    #wrap #header .area_header #gnb h1 a:before,
    #wrap #header .area_header #gnb h1 a:after {display: block; position: absolute; width:28px; content:'';}
    #wrap #header .area_header #gnb.on h1 a:before {height:3px; border:none; background-color:#a0a0a0;}
    #wrap #header .area_header #gnb.on h1 a:before {top:19px; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -o-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg);}
    #wrap #header .area_header #gnb.on h1 a:after {top:19px; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg);}
    #wrap #header .area_header #gnb h1 a:before {top:5px; height:8px; border-top:3px solid #a0a0a0; border-bottom:3px solid #a0a0a0;}
    #wrap #header .area_header #gnb h1 a:after {top:27px; height:3px; background-color:#a0a0a0;}
    #wrap #content_area_sub_main,
    #wrap #content_area_main {padding-top:60px;}
    #gnb {left:-100%;}
    #gnb .gnb_area {position: relative;}
    #gnb.on {left:0;}
    #header .area_header #gnb h1 a:before,
    #header .area_header #gnb h1 a:after,
    #wrap #gnb,
    #wrap #gnb .ul_gnb > li > a:before,
    #wrap #gnb .ul_gnb > li > a:after {-webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out; -o-transition:all 0.2s ease-out; -ms-transition:all 0.2s ease-out; transition:all 0.2s ease-out;}
    .box_arrow_main_1,
    .gnb_bg {display: none;}
    #wrap #gnb {top:60px; padding-right: 0; border-top:1px solid #e5e5e5;}
    #wrap #gnb .ul_gnb > li {display:block; padding-right:0;}
    #wrap #gnb .ul_gnb > li > a {display:block; padding:0 0 0 20px; border-bottom:1px solid #336b81; background-color:#4891ae; font-size:19px; color:#fff; line-height:49px; text-align: left;}
    #wrap #gnb .ul_gnb > li > a:before,
    #wrap #gnb .ul_gnb > li.on > a:after,
    #wrap #gnb .ul_gnb > li > a:hover:after,
    #wrap #gnb .ul_gnb > li > a:after {display: block; position: absolute; top:16px; left:auto; right:15px; width:2px; height:13px; margin-left:0; background-color: #fff; background-image:none; content: '';}
    #wrap #gnb .ul_gnb > li.on > a:after,
    #wrap #gnb .ul_gnb > li > a:after {right:23px;}
    #wrap #gnb .ul_gnb > li.on > a:after,
    #wrap #gnb .ul_gnb > li > a:hover:after,
    #wrap #gnb .ul_gnb > li > a:before {-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg);}
    #wrap #gnb .ul_gnb > li.on > a:before,
    #wrap #gnb .ul_gnb > li > a:hover:before,
    #wrap #gnb .ul_gnb > li > a:after {-webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -o-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg);}
    #wrap #gnb .ul_gnb > li > a:hover:after {bottom:auto; left:auto; right:23px; margin-left:0; background-image: none;}
    #wrap #gnb .ul_gnb > li.on > a,
    #wrap #gnb .ul_gnb > li > a:hover {color:#fff; text-decoration: underline;}
    #wrap #gnb .ul_gnb > li.li_1 > div,
    #wrap #gnb .ul_gnb > li.li_2 > div {display: none; position:relative; top:auto; right:auto; padding-top:0; border-bottom:1px solid #e5e5e5;}
    #wrap #gnb .ul_gnb > li.li_1 .gnb_sub,
    #wrap #gnb .ul_gnb > li.li_2 .gnb_sub {float:none; width:100%; height: auto; padding-left:0; border-left: none;}
    #wrap #gnb .gnb_sub .p_tit {margin-bottom:0; padding-left:20px; background-color:#e2e2e2; font-size:13px; line-height:30px; color:#343434;}
    #wrap #gnb .gnb_sub ul li a {padding-left:20px; font-size: 13px;}
    #wrap #gnb .gnb_sub ul li a:hover {color:#4891ae; text-decoration: underline;}
}
@media only screen and (max-width:600px){
    .echo_list > li {width:50%;}
}
@media only screen and (max-width:380px){
	.page {top:15px;}
	.page li a {overflow: hidden; position: relative; width:15px; height:0; margin-left:15px; padding-top:15px; background-image:none; text-indent:-10000px;}
	.page li a.on {background-image:none;}
	.page li a:after {display:block; position: absolute; top:0; left:0; width:11px; height:11px; border:2px solid #a0a0a0; -webkit-border-radius:15px; -moz-border-radius:15px; -o-border-radius:15px; -ms-border-radius:15px; border-radius:15px; background-color:#a0a0a0; content:'';}
	.page li a.on:after {border-color:#4891ae; background-color:#fff;}
	.main_visual > ul > li .p_img,
	.main_visual .main_movie_area li a,
	.main_visual > ul > li .txt_01 {overflow: hidden; height: 0; padding-top:96.875%; background-repeat:no-repeat; background-position: 0 0; background-size: contain; letter-spacing: -10000px;}
	.main_visual > ul > li .txt_01 {top:14.71264367816092%; left: 6.25%; width:73.90625%; padding-top:55.312499%;}
	.main_visual .main_movie_area {top:37.93103448275862%; left:50%; width:90.625%; margin-left:-45.314%;}
	.main_visual .main_movie_area li {float:none; position: relative; width:100%; margin-top:30px;}
	.main_visual .main_movie_area li a {display: block; padding-top:58.62068965517241%;}
	.main_visual .main_movie_area li:first-child {margin-top:0;}
	.main_visual > ul > li.img_01 .p_img {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/m_img_visual_01.jpg);}
	.main_visual > ul > li.img_02 .p_img {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/m_img_visual_02.jpg);}
	.main_visual > ul > li.img_03 .p_img {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/m_img_visual_03.jpg);}
	.main_visual > ul > li.img_01 .txt_01 {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_visual_01_txt_01.png);}
	.main_visual > ul > li.img_02 .txt_01 {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_visual_01_txt_02.png);}
	.main_visual > ul > li.img_03 .txt_01 {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_visual_01_txt_03.png);}
	.main_visual > ul > li.img_01 .main_movie_area li:nth-child(1) a {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/m_img_01_movie_01.png);}
	.main_visual > ul > li.img_01 .main_movie_area li:nth-child(2) a {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/m_img_01_movie_02.png);}
	.main_visual > ul > li.img_01 .main_movie_area li:nth-child(3) a {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/m_img_01_movie_03.png);}
	.main_visual > ul > li.img_02 .main_movie_area li:nth-child(1) a {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/m_img_02_movie_01.png);}
	.main_visual > ul > li.img_02 .main_movie_area li:nth-child(2) a {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/m_img_02_movie_02.png);}
	.main_visual > ul > li.img_02 .main_movie_area li:nth-child(3) a {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/m_img_02_movie_03.png);}
	.main_visual > ul > li.img_03 .main_movie_area li:nth-child(1) a {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/m_img_03_movie_01.png);}
	.main_visual > ul > li.img_03 .main_movie_area li:nth-child(2) a {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/m_img_03_movie_02.png);}
	.main_visual > ul > li.img_03 .main_movie_area li:nth-child(3) a {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/m_img_03_movie_03.png);}
	#wrap .dream_list li,
    #wrap .echo_list > li {float:none; width:100%;}
    #wrap .dream_list li div {margin-right:0;}
}