@charset "utf-8";

html>/**/body {overflow-x:auto;overflow-y:scroll;}
body {width:100%;font-family:'modernh-light-webfont','맑은 고딕', 'Malgun Gothic',"돋움", dotum, arial, sans-serif;color:#000;font-size:12px;margin:0;padding:0;line-height:1;letter-spacing:0px;background:#ffffff;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

a,a:link,a:hover {text-decoration:none;color:#000;}

/* form */
input[type="text"], input[type="password"], select {padding:0;margin:0;height:21px;border:1px solid #bababa;font-family:dotum;font-size:12px;}
input[type="text"], input[type="password"] {text-indent:5px;}
txtarea {font-family:'modernh-light-webfont','맑은 고딕', 'Malgun Gothic',"돋움", dotum, arial, sans-serif;font-size:12px;}
border {outline:none;}

/* align */
.tac {text-align:center;}
.tal {text-align:left;}
.tar {text-align:right;}
.vam { vertical-align:middle;}
.vm { vertical-align: middle !important;}
.vt { vertical-align: top !important;}


/*블럭요소 가운데 정렬  - center 요소 안에 middle을 넣어야 한다. */
.center { display:table; margin:0 auto; text-align:center;}
.middle {display:table-cell; vertical-align:middle;}

/* text */
.subject {display:inline-block;overflow:hidden;/*width*/text-overflow:ellipsis;white-space:nowrap;-webkit-line-clamp:1;-webkit-orient:vertical;}

.tl {text-align:left !important;}
.tr {text-align:right !important;}
.tc {text-align:center !important;}

.td_tl td, .td_tl {padding-left:5px !important;padding-right:5px !important;text-align:left !important;}
.td_tr td, .td_tr {padding-left:5px !important;padding-right:5px !important;text-align:right !important;}
.td_tc td, .td_tc {text-align:center !important;}

/* float */
.fl {float: left;}
.fr {float: right;}
.cb {clear: both;}
.clearfix:after {display:block; clear:both; visibility: hidden; height: 0; content: '';}

/* color */
.white {color:#ffffff;}
.orange {color:#f58b10;}
.red {color:#fd3509;}
.blue {color:#0083cc;}
.grey {color:#aeaeae;}
.sky {color:#00a2df;}
.black {color:#030303;}
.navy {color:#345483;}
.pink {color:#e79393}
.brown {color:#985e34;}
.gold {color:#d6a100;}

/* bold */
.b {font-weight:bold; }
.bb {font-weight: bolder; }

/*
.png24 {tmp:expression(setPng24(this));}
*/

/* opacity */
.opacity3 {opacity:0.3; }
.opacity5 {opacity:0.5; }
.opacity7 {opacity:0.7; }
.opacity9 {opacity:0.9; }

/* font-size */
.f11 {font-size: 11px !important;}
.f12 {font-size: 12px !important;}
.f14 {font-size: 14px !important;}

/*border for test*/
.border1 { border: 1px solid red; }

/* noline */
.noline {border:none !important}
.noline_t {border-top:0px !important;}
.noline_r {border-right:0px !important;}
.noline_b {border-bottom:0px !important;}
.noline_l {border-left:0px !important;}
#load_wrap > * {-webkit-animation: pageOn all 1s; animation: pageOn 1s;}
@keyframes pageOn{
	0%{opacity:0;}
	100%{opacity:1;}
}