/*서브메인*/
.dream_list li {float:left; position: relative; width:33.33333%; margin-bottom:2px;}
.dream_list li div {overflow:hidden; margin:0 2px 0 0;}
.dream_list li p img {width:100%;}
.dream_list li p.p_img {height: 100%; text-align:center;}
.dream_list li p.p_txt {position: absolute; top:25.97402597402597%; left:0; width:100%; margin:0 auto;}
.dream_list li p.p_btn a {overflow: hidden; position:absolute; top:60%; left:50%; width:24.138%; height:0; margin:0 0 0 -12.07%; padding-top:8.15067846%; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/btn_detail_view.png) no-repeat center center; background-size:contain;}
.dream_list li p.p_btn a:hover,
.dream_list li p.p_btn a.on {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/btn_detail_view_on.png);}

.movie_area {position:relative; width:1240px; height:488px; margin-bottom:60px; overflow:hidden;}
.movie_area .movie {position:absolute; width:825px; height:488px;}
.movie_area	.area_textarea {position:absolute; right:0; width:415px; height:488px; background-color:#333;}
.movie_area	.area_textarea textarea {width:333px; height:406px; font-family:'modernh-light-webfont'; padding:40px; background-color:#333; font-size:14px; line-height:140%; color:#fff;}

.content_area {width:1240px; overflow:hidden;}
.content_area h3 {font-size:30px;}
.img_navi_area {position:relative; width:100%; margin:30px 0 0 0;}
.img_navi_area .btn_prev {position:absolute; top:50px; left:0; width:60px; height:60px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/dream/btn_prev.png) no-repeat; z-index:500;}
.img_navi_area .btn_next {position:absolute; top:50px; right:0; width:60px; height:60px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/dream/btn_next.png) no-repeat; z-index:500;}
.img_navi_area  .tab_btn_area {overflow:hidden; position: relative; height:160px;}
.img_navi_area  .tab_btn_area li {float:left; width:248px; height:160px; overflow:hidden;}
.img_navi_area  .tab_btn_area li > a  {display:block;}
.img_navi_area  .tab_btn_area li > a :hover{}
.img_navi_area  .tab_btn_area li > a > em {display:block; position:relative; margin:-160px 0 0 0; padding-top:160px; text-indent:-99999; font-size:0;}
.img_navi_area  .tab_btn_area li > a > em {-webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out; -o-transition:all 0.2s ease-out; -ms-transition:all 0.2s ease-out; transition:all 0.2s ease-out;}
.img_navi_area  .tab_btn_area li > a:hover > em {width:248px; height:160px; padding-top:43px; filter:alpha(opacity=10); opacity:1.0; -moz-opacity:1.00; background:#4891ae; font-style:italic; text-align:center; color:#fff; font-size:18px; text-decoration:underline; line-height:150%; z-index:100;}
.img_navi_area  .tab_btn_area li > a:hover > em:after {position:absolute; top:50%; left:50%; width:90px; height:26px; margin:-130px 0 0 -45px; }

.dream_cont_list {width:100%; position: relative; }
.dream_cont_list li {display:none; position:relative; top:0; width:1240px; min-height:200px; overflow:hidden;}
.dream_cont_list li.on {display:block;}

.content_area .img_area_01 {position:relative; width:600px; height:220px; margin:40px 0 0 0; border-top:4px solid #333; border-bottom:4px solid #333; text-align:center;}
.content_area .img_area_02 {float:right; width:600px; margin:-228px 0px 0 0px;}
.content_area .img_area_01 .txt_tit_sub {padding:0px 0 0 0;}
.content_area .img_area_01 em {display:block; font-family:'modernh-bold-webfont'; font-size:14px; margin:40px 0 0px 0;}
.content_area .img_area_01 strong {display:block; font-family:'modernh-bold-webfont'; font-style:italic; font-size:24px; margin:30px 0 47px 0;}
.content_area .img_area_01 span {display:block; font-family:'modernh-bold-webfont'; font-size:14px;}
.content_area .img_area_01 .quot {position:absolute; left:50%; bottom:-40px; display:block; width:80px; height:80px; margin-left:-50px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/history/bg_quot.png) no-repeat 0 0; z-index:100; text-indent:-9999px;}

.content_area .txt_area {overflow:hidden;}
.content_area .txt_area div {float:left; margin:0px 40px 0 0;}
.content_area .txt_area div.lst-item {margin:40px 0px 0 0;}
.content_area .txt_area .txt_area_01 {width:600px; margin:40px 40px 0px 0;}
.content_area .txt_area .txt_area_02 {width:600px; margin:0 0 0px 0;}
.content_area .txt_area .txt_01 {margin:34px 0 0 0; font-size:14px; line-height:160%;}
.content_area .txt_area .txt_02 {display:block; margin:32px 0 0 0; font-size:18px; line-height:160%;}

