/* ====================== */
/*  PC  */
/* ====================== */

/*서브메인*/
.histroy_list {}
.histroy_list li {float:left; position: relative; width:25%; height:0; padding-top:49%;}
.histroy_list li > div {position: absolute; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; background-position:center 60%;}
.histroy_list li > div > p {height:100%; margin-left:5px; background:#f1f0ed; background-repeat:no-repeat; background-position:center 18.279%; background-size:80%;}
.histroy_list li > div > p:hover {background-color:#4891ae; background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/icon_arrow_down.png); background-position: center 20%;}
.histroy_list li > div > p:after {background-color:#4891ae; background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/icon_arrow_down.png); background-position: center 20%;}
.histroy_list li:first-child > div > p {margin-left:0;}
.histroy_list li.on {background:#4891ae url(http://hyundaicard.ipartners.co.kr/kor/images/main/icon_arrow_down.png) no-repeat center 340px; background-size:15%;}
.histroy_list li.li_1 p:after {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_history_01.png);}
.histroy_list li.li_2 p:after {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_history_02.png);}
.histroy_list li.li_3 p:after {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_history_03.png);}
.histroy_list li.li_4 p:after {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_history_04.png);}

.histroy_list li.li_1 p {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/txt_sub_main_history_01.png);}
.histroy_list li.li_1 p:hover {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/txt_sub_main_history_01_on.png);}
.histroy_list li.li_2 p {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/txt_sub_main_history_02.png);}
.histroy_list li.li_2 p:hover {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/txt_sub_main_history_02_on.png);}
.histroy_list li.li_3 p {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/txt_sub_main_history_03.png);}
.histroy_list li.li_3 p:hover {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/txt_sub_main_history_03_on.png);}
.histroy_list li.li_4 p {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/txt_sub_main_history_04.png);}
.histroy_list li.li_4 p:hover {background-image:url(http://hyundaicard.ipartners.co.kr/kor/images/main/txt_sub_main_history_04_on.png);}

.tab_menu {height:59px;border:1px solid #cccccc;font-size:14px;}
.tab_menu li {float:left;width:33%;padding:23px 0 23px 0;text-align:center;border-right:1px solid #cccccc;}
.tab_menu li:last-child {border-right:none;}
.tab_menu li a {display:block;}
.tab_menu li.on {background-color:#333333}
.tab_menu li.on a {color:#fff;}

.history_list {margin:40px 0 0 0;clear:both;}
.history_list dt {float:left;width:290px;min-height:150px;margin:0 23px 0 0;padding:10px 0px 10px 0px;font-size:30px;border-top:3px solid #000000;outline:1px solid #c64;}
.history_list dd {display:block;border-top:1px solid #cccccc;}
.history_list dd:nth-child(n) {border-top:none;}
.history_list dd .line {border-top:1px solid #cccccc;}
.history_list dd .n_01 {display:block;float:left;width:315px;height:20px;padding:10px 0px 10px 0px;font-size:14px;color:#4891ae;outline:0px solid #c64;}
.history_list dd .n_02 {display:block;float:left;width:612px;height:20px;padding:10px 0px 10px 0px;font-size:14px;color:#000000;}

.book_list {overflow:hidden;}
.book_list li {float:left;width:290px;margin:0 25px 0 0;}
.book_list li:last-child {margin:0;}
.book_list span {display:block;font-size:18px;margin:0 0 22px 0;}
.book_list strong {display:block;width:150px;height:25px;padding:10px 0 0px 43px;background:url(http://hyundaicard.ipartners.co.kr/kor/images/history/icon_down.gif) no-repeat 20px center;}
.book_list div {position:relative;margin:10px 0 0 0;padding:20px 0 0px 0px;height:63px;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;}
.book_list div a {display:block;float:left;width:140px; height:44px; margin:0 4px 0 0;background:url(http://hyundaicard.ipartners.co.kr/kor/images/history/btn_down.gif) no-repeat; background-size: cover;}
.book_list div p {position:absolute;top:20px;right:0}
.book_list div a:first-child {width:44px; height:44px; background-position:0 0;}
.book_list div a:nth-child(2){width:44px; height:44px; background-position:-48px 0px;}
.book_list div a:last-child {width:44px; height:44px; background-position:-96px 0px;}
.tb_list {width:100%;font-size:14px;}
.tb_list thead th {padding:14px 0 14px 22px;font-weight:bold;border-top:2px solid #000000;border-bottom:2px solid #000000;}
.tb_list tbody td {padding:14px 0 14px 22px;border-bottom:1px solid #cccccc;}

.photo_list {font-family:"modernh-light-webfont";width:1256px; margin:30px auto 0 auto;}
.photo_list > li {position:relative; float:left; width:290px;min-height:250px;margin:0 12px 24px; background:#f1f0ed; overflow:hidden;;}
.photo_list > li.cate_tit {width:290px; height:290px; min-height:290px;clear:both;}
.photo_list > li h3 {position:relative; margin:50% 0 0 0; color:#fff; font-size:34px; text-align:center; z-index:100;}
.photo_list > li p {}
.photo_list > li p img {width:290px;height:auto;}
.photo_list > li > div {position:absolute;top:0;left:0;width:290px;}
.photo_list > li > div.li_div {padding:56px 30px 0px 30px; color:#333333;}
.photo_list > li > div.li_div > a {display:block; overflow: hidden; position: absolute; top:0; left:0; width:100%; height:0; padding-top:370px; text-indent:-10000px;}
.photo_list > li > div.li_div > a:hover {background:#4891ae; opacity:0.95; -moz-opacity:0.95; filter:alpha(opacity=95);}
.photo_list div.img_h2_01 {width:290px;height:290px;min-height:290px;margin:-180px 0 0 0;background:url(http://hyundaicard.ipartners.co.kr/kor/images/history/img_h2_01.jpg) no-repeat;}
.photo_list div.img_h2_02 {width:290px;height:290px;min-height:290px;margin:-213px 0 0 0;background:url(http://hyundaicard.ipartners.co.kr/kor/images/history/img_h2_02.jpg) no-repeat;}

.layer_photo_pop {position: fixed; z-index: 99999; top: 50%; left: 50%; width:800px; height:auto; margin: -250px 0px 0px -462px; background-color:#fff; letter-spacing:-1px;}
.layer_photo_pop .content_pop {}
.layer_photo_pop .content_pop .img_area img {width:800px;}
.layer_photo_pop .content_pop .txt_area {padding:40px 40px 90px 40px; color:#5a5a5a; font-size:14px; line-height:24px;}
.layer_photo_pop .content_pop .btn_close {position:absolute; top:-60px; right:0;}
.layer_photo_pop .sns_area_w {position:absolute; right:-1px; bottom:0px;}
.layer_photo_pop .sns_area_w a {display:block; overflow: hidden; float:left; width:59px; height:0; padding-top:60px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/img_sns_w.png) no-repeat; text-indent:-10000px;z-index:1000;}
.layer_photo_pop .sns_area_w a.sns_1 {width:60px; background-position:0 0;}
.layer_photo_pop .sns_area_w a.sns_2 {background-position:-60px 0px;}
.layer_photo_pop .sns_area_w a.sns_3 {width:58px; background-position:-120px 0;}
.layer_photo_pop .sns_area_w a.sns_4 {width:58px; background-position:-180px 0;}
.layer_photo_pop .sns_area_w a.sns_5 {width:57px; background-position:-240px 0;}
.layer_photo_pop .btn_close a {display: block; overflow:hidden; position: absolute; top:0; right:0; width:60px; height:0; padding-top:60px; background-color:#4891ae; text-indent:-10000px;}
.layer_photo_pop .btn_close a:after {display: block; position: absolute; top:15px; left:15px; width:30px; height:30px; padding-top:60px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/img_sns_w.png) no-repeat -300px 0; content:'';}

.layer_photo_pop .btn_prev {position:absolute; top:50%; left:0; width:30px; height:33px; margin-left:10px; background: url(http://hyundaicard.ipartners.co.kr/kor/images/history/btn_prev_white.png) no-repeat;z-index:1000;}
.layer_photo_pop .btn_next {position:absolute; top:50%; right:0; width:30px; height:33px; background: url(http://hyundaicard.ipartners.co.kr/kor/images/history/btn_next_white.png) no-repeat;z-index:1000;}





/* ====================== */
/*  tablet   */
/* ====================== 
@media screen and (min-width:769px) and (max-width:1024px) {

}
 */

/* ====================== */
/*  mobile   */
/* ====================== */                            
@media only screen and (max-width:1024px){
	/*서브메인*/

	.histroy_list li {width:100%; margin:0 0 2px 0; background:#f1f0ed; cursor:pointer;}
	.histroy_list li:after {content:""; clear:both;}
	.histroy_list .li_1 {height:600px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_history_01.png) no-repeat center 300px; background-size:40%;}
	.histroy_list .li_1 p {position:relative; height:500px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/txt_sub_main_history_01.png) no-repeat center 125px; background-size:80%;}
	.histroy_list .li_2 {height:600px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_history_02.png) no-repeat center 300px; background-size:40%;}
	.histroy_list .li_2 p {position:relative; height:500px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/txt_sub_main_history_02.png) no-repeat center 50px; background-size:80%;}
	.histroy_list .li_3 {height:600px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_history_03.png) no-repeat center 300px; background-size:40%;}
	.histroy_list .li_3 p {position:relative; height:500px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/txt_sub_main_history_03.png) no-repeat center 50px; background-size:80%;}
	.histroy_list .li_4 {height:600px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_history_04.png) no-repeat center 300px; background-size:40%;}
	.histroy_list .li_4 p {position:relative; height:500px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/txt_sub_main_history_04.png) no-repeat center 50px; background-size:80%;}


}