/* ====================== */
/*  PC  */
/* ====================== */

/*서브메인*/
.sub_visual {width:100%; height:200px;}
.sub_visual.n_01 {position:relative; background:#f1f0ed url(../../images/common/img_sub_visual_01.jpg) no-repeat center 0;}
.sub_visual	h2 {display:block; padding:74px 0 0 0; text-align:center; font-size:60px; color:#333333;}
.navi_area {}
.navi_area .btn_prev {position:absolute; top:63px; left:17px; width:38px; height:73px; background:url(../../images/common/btn_prev.png) no-repeat;}
.navi_area .btn_next {position:absolute; top:63px; right:17px; width:38px; height:73px; background:url(../../images/common/btn_next.png) no-repeat;}
.navi_area strong {display:block; position:absolute; top:27px; left:68px; width:200px; font-size:18px;}
.content_sub {width:1280px; margin:0 auto;}
.content_sub>h2 strong {display:block; margin:60px 0 40px 0; font-size:50px; color:#4891ae;}

.location {position:relative; text-align:right;}
.location ul {position:absolute; top:-30px; right:0; padding:0 11px 0 22px; font-size:14px; background:url(../../images/common/icon_home.gif) no-repeat 0 3px;}
.location li {float:left; padding:0 11px 0 11px; color:#666666; background:url(../../images/common/icon_arrow.gif) no-repeat left 2px;}
.location li:last-child	{text-decoration:underline; color:#000000;}

#content_area_sub_main {position:relative; padding-top:80px; letter-spacing:-1.5px;}

.echo_list {width:1280px; margin:30px auto 0 auto;}
.echo_list li {position:relative; float:left; width:290px; margin:0 24px 24px 0; background:#f1f0ed;}
.echo_list li h3 {position:relative; margin:50% 0 0 0; color:#fff; font-size:34px; text-align:center; z-index:100;}
.echo_list li h4>strong {display:block; font-size:30px;}
.echo_list li span {display:block; margin:18px 0 30px 0; color:#333333; font-size:14px;}
.echo_list li p {color:#5a5a5a; font-size:14px; line-height:24px;}
.echo_list div {padding:56px 30px 0 30px; color:#333333;}
.echo_list div.on {height:315px; font-size:18px; background:#5196b1; filter:alpha(opacity=95); opacity:0.95; -moz-opacity:0.95; cursor:pointer;}
.echo_list div.on a {position:absolute; top:50%; left:50%; margin:0 0 0 -28px; width:43px; height:43px; color:#fff; text-align:center; background:url(../../images/echo/btn_more_on.png) no-repeat;}
.echo_list div.on a strong {display:block; width:90px; margin:0 0 0 -25px; padding:50px 0 0 0; text-decoration:underline;}
.echo_list div.img_h2_01 {position:absolute; top:0; left:0; width:290px; height:370px; min-height:370px; background:url(../../images/echo/img_h2_01.jpg) no-repeat;}
.echo_list div.img_h2_02 {position:absolute; top:0; left:0; width:290px; height:370px; min-height:370px; background:url(../../images/echo/img_h2_02.jpg) no-repeat;}
.btn_more_view {width:1230px; text-align:center; border:1px solid #cccccc; border-bottom:3px solid #cccccc; clear:both;}
.btn_more_view a {display:block; padding:20px 0; font-size:18px; background:url(../../images/common/icon_arrow_down.gif) no-repeat 54% center;}

.page_num {display:none;}

.layer_pop {position:relative; width:925px; height:100%; background:#fff; z-index:1000; letter-spacing:-1px;}
.layer_pop .content_pop {padding:60px 60px 60px 60px;}
.layer_pop .content_pop strong {display:block; font-size:30px;}
.layer_pop .content_pop span {display:block; margin:18px 0 30px 0; color:#333333; font-size:14px;}
.layer_pop .content_pop p {padding-bottom:90px; color:#5a5a5a; font-size:14px; line-height:24px;}
.layer_pop .btn_close {position:absolute; top:-60px; right:0;}
.layer_pop .sns_area {position:absolute; right:0px; bottom:-90px;}
.layer_pop .sns_area a {display:block; float:left; width:295px; height:59px; background:url(../../images/common/img_sns_w.gif) no-repeat; background-size: cover;}
.layer_pop .sns_area a:first-child {width:60px; height:60px; background-position:0 0;}
.layer_pop .sns_area a:nth-child(2){width:60px; height:60px; background-position:-60px 0px;}
.layer_pop .sns_area a:nth-child(3){width:60px; height:60px; background-position:-120px 0;}
.layer_pop .sns_area a:nth-child(4){width:60px; height:60px; background-position:-180px 0;}
.layer_pop .sns_area a:last-child {width:60px; height:60px; background-position:-240px 0;}


/* 마스크 뛰우기 */
 #mask {position:absolute; background:#000; display:none; left:0; top:0; width:100%; overflow: hidden; z-index: 9999;} 

/* ====================== */
/*  tablet   */
/* ====================== 
@media screen and (min-width:769px) and (max-width:1024px) {

}
 */

/* ====================== */
/*  mobile   */
/* ====================== */                            
@media only screen and (max-width:1024px){
	/*서브메인*/
	.sub_visual {width:100%; height:50px; background:#4891ae;}
	.sub_visual.n_01 {}
	.sub_visual	h2 {display:block; padding:12px 0 0 0; text-align:center; font-size:20px; color:#fff;}
	.navi_area {}
	.navi_area .btn_prev {position:absolute; top:15px; left:15px; width:9px; height:16px; background:url(../../images/common/btn_prev_m.png) no-repeat; background-size: cover;}
	.navi_area .btn_next {position:absolute; top:15px; right:15px; width:9px; height:16px; background:url(../../images/common/btn_next_m.png) no-repeat; background-size: cover;}
	.navi_area strong {display:none;}
	.content_sub {}
	.content_sub>h2 strong {display:none;}

	.location {display:none;}

	.dream_list  {padding-top:80px;}
	.dream_list  {overflow:hidden;}
	.dream_list  li {padding:0 2px 2px 0;}
	.dream_list  li:last-item {padding:0 0px 2px 0;}
	.dream_list  div {}
	.dream_list  p {padding:80px 0 0 0; text-align:center;}
	.dream_list  p img {height::10%;}
	.dream_list  p a {position:absolute; top:60%; left:50%; width:154px; height:52px; margin:0 0 0 -77px; background:url(../../images/main/btn_detail_view.png) no-repeat;}	  
	.dream_list  p a.on {background:url(../../images/main/btn_detail_view_on.png) no-repeat;}	  
	.dream_list  .n_01 {position:relative; min-height:308px; background:url(../../images/main/img_sub_main_dream_01.jpg) no-repeat; background-size: contain;}
	.dream_list  .n_02 {position:relative; height:308px; margin:0 -100px; background:url(../../images/main/img_sub_main_dream_02.jpg) no-repeat; background-size: contain;}
	.dream_list  .n_03 {position:relative; height:308px; margin:0 -100px; background:url(../../images/main/img_sub_main_dream_03.jpg) no-repeat; background-size: contain;}
	.dream_list  .n_04 {position:relative; height:308px; margin:0 -100px; background:url(../../images/main/img_sub_main_dream_04.jpg) no-repeat; background-size: contain;}
	.dream_list  .n_05 {position:relative; height:308px; margin:0 -100px; background:url(../../images/main/img_sub_main_dream_05.jpg) no-repeat; background-size: cover;}
	.dream_list  .n_06 {position:relative; height:308px; margin:0 -100px; background:url(../../images/main/img_sub_main_dream_06.jpg) no-repeat; background-size: cover;}
	.dream_list  .n_07 {position:relative; height:308px; margin:0 -100px; background:url(../../images/main/img_sub_main_dream_07.jpg) no-repeat; background-size: cover;}
	.dream_list  .n_08 {position:relative; height:308px; margin:0 -100px; background:url(../../images/main/img_sub_main_dream_08.jpg) no-repeat; background-size: cover;}
	.dream_list  .n_09 {position:relative; height:308px; margin:0 -100px; background:url(../../images/main/img_sub_main_dream_09.jpg) no-repeat; background-size: cover;}


	.histroy_list li {width:100%; margin:0 0 2px 0; background:#f1f0ed; cursor:pointer;}
	.histroy_list li:after {content:""; clear:both;}
	.histroy_list .n_01 {height:600px; background:url(../../images/main/img_sub_main_history_01.png) no-repeat center 300px; background-size:40%;}
	.histroy_list .n_01 p {position:relative; height:500px; background:url(../../images/main/txt_sub_main_history_01.png) no-repeat center 125px; background-size:80%;}
	.histroy_list .n_02 {height:600px; background:url(../../images/main/img_sub_main_history_02.png) no-repeat center 300px; background-size:40%;}
	.histroy_list .n_02 p {position:relative; height:500px; background:url(../../images/main/txt_sub_main_history_02.png) no-repeat center 50px; background-size:80%;}
	.histroy_list .n_03 {height:600px; background:url(../../images/main/img_sub_main_history_03.png) no-repeat center 300px; background-size:40%;}
	.histroy_list .n_03 p {position:relative; height:500px; background:url(../../images/main/txt_sub_main_history_03.png) no-repeat center 50px; background-size:80%;}
	.histroy_list .n_04 {height:600px; background:url(../../images/main/img_sub_main_history_04.png) no-repeat center 300px; background-size:40%;}
	.histroy_list .n_04 p {position:relative; height:500px; background:url(../../images/main/txt_sub_main_history_04.png) no-repeat center 50px; background-size:80%;}

	.echo_list {margin:30px auto 0 auto; padding:0 15px; overflow:hidden;}
	.echo_list li {position:relative; float:left; width:290px; height:100%; min-height:370px; margin:0 24px 24px 0;}
	.echo_list li h3 {position:relative; margin:64% 0 0 0; color:#fff; font-size:25px; text-align:center; z-index:100;}
	.echo_list li h4>strong {display:block; font-size:22px;}
	.echo_list li span {display:block; margin:18px 0 30px 0; color:#333333; font-size:14px;}
	.echo_list li p {margin-bottom:60px; color:#5a5a5a; font-size:14px; line-height:24px;}
	.echo_list div {height:100%; padding:40px 20px 0 20px; border:1px solid #d6d6d6;}
	.echo_list div.on a {display:none; position:absolute; top:50%; left:50%; margin:0 0 0 -28px; width:43px; height:43px; color:#fff; text-align:center; background:url(../../images/echo/btn_more_on.png) no-repeat;}
	.echo_list div.on a strong {display:none; width:90px; margin:0 0 0 -25px; padding:50px 0 0 0; text-decoration:underline;}
	.echo_list div.img_h2_01 {position:absolute; top:0; left:0; width:290px; height:370px; min-height:370px; border:none; background:url(../../images/echo/img_h2_01.jpg) no-repeat;}
	.echo_list div.img_h2_02 {position:absolute; top:0; left:0; width:290px; height:370px; min-height:370px; border:none; background:url(../../images/echo/img_h2_02.jpg) no-repeat;}

	.select_list_area {position:relative; margin:15px 15px 0 15px;}
	.select_list_area p {padding:13px 0 13px 15px; font-size:15px; border-bottom:1px solid #fff; background:#333333;}
	.select_list_area p span {position:absolute; display:block; top:19px; right:10px; width:13px; height:7px; background:url(../../images/common/icon_arrow_down_m.png) no-repeat; background-size: cover;}
	.select_list_area p span.on {display:block; width:26px; height:13px; background:url(../../images/common/icon_arrow_up.png) no-repeat;}
	.select_list_area p a {color:#fff;}

	ul.select_list {position:absolute; width:100%; padding:0px 0 8px 0; background:#fff; z-index:1000;}
	ul.select_list>li {padding:14px 0 14px 13px; font-size:15px; border:1px solid #cccccc; border-top:none;}
	ul.select_list>li a {position:relative; top:4px; display:inline-block; color:#000; overflow:hidden;}
	ul.select_list>li.on {display:block; background:#333333;}
	ul.select_list>li.on a {text-decoration:underline; color:#fff;}

	.btn_more_view {display:none;}
	.sns_area {position:absolute; right:1px; bottom:-59px; margin-top:20px;}
	.sns_area a {display:block; float:left; width:198px; height:40px; background:url(../../images/common/img_sns.gif) no-repeat; background-size: cover;}
	.sns_area a:first-child {width:40px; height:40px; background-position:0 0;}
	.sns_area a:nth-child(2){width:40px; height:40px; background-position:-40px 0;}
	.sns_area a:nth-child(3){width:40px; height:40px; background-position:-80px 0;}
	.sns_area a:nth-child(4){width:40px; height:40px; background-position:-120px 0;}
	.sns_area a:last-child {width:40px; height:40px; background-position:-160px 0;}
	.page_num {margin:50px 0 0 0; font-size:13px; text-align:center;}
	.page_num strong {text-decoration:underline;}

	.navi_area_page {}
	.navi_area_page .btn_prev {position:absolute; top:48%; left:0; width:40px; height:40px; background:url(../../images/common/btn_prev_page.png) no-repeat; z-index:100; background-size: cover;}
	.navi_area_page .btn_next {position:absolute; top:48%; right:0; width:40px; height:40px; background:url(../../images/common/btn_next_page.png) no-repeat; z-index:100; background-size: cover;}

	.layer_pop {display:none;}
}