/*서브메인*/
.sub_visual {width:100%; height:200px;}
.sub_visual.n_01 {position:relative; background:#f1f0ed url(http://hyundaicard.ipartners.co.kr/kor/images/common/img_sub_visual_01.jpg) no-repeat center 0;}
.sub_visual.n_02 {position:relative; background:#f1f0ed url(http://hyundaicard.ipartners.co.kr/kor/images/common/img_sub_visual_02.jpg) no-repeat center 0;}
.sub_visual.n_03 {position:relative; background:#f1f0ed url(http://hyundaicard.ipartners.co.kr/kor/images/common/img_sub_visual_03.jpg) no-repeat center 0;}
.sub_visual.n_04 {position:relative; background:#f1f0ed url(http://hyundaicard.ipartners.co.kr/kor/images/common/img_sub_visual_04.jpg) no-repeat center 0;}
.sub_visual.n_05 {position:relative; background:#f1f0ed url(http://hyundaicard.ipartners.co.kr/kor/images/common/img_sub_visual_05.jpg) no-repeat center 0;}
.sub_visual.n_06 {position:relative; background:#f1f0ed url(http://hyundaicard.ipartners.co.kr/kor/images/common/img_sub_visual_06.jpg) no-repeat center 0;}
.sub_visual	h1,
.sub_visual	h2 {display:none; position: relative; padding:0; text-align:center; font-size:60px; color:#333333;}
.navi_area .btn_prev {position:absolute; top:63px; left:17px; width:38px; height:73px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/btn_prev.png) no-repeat;}
.navi_area .btn_next {position:absolute; top:63px; right:17px; width:38px; height:73px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/btn_next.png) no-repeat;}
.navi_area .btn_prev strong {display:block; position:absolute; top:27px; left:68px; width:200px; font-size:18px;}
.navi_area .btn_next strong {display:block; position:absolute; top:27px; right:68px; width:200px; text-align:right; font-size:18px;}
.content_sub {min-width:1024px; margin:0 auto;}
.content_sub_1 {width:1256px;}
.content_sub > h2 {display:block; margin:60px 0 40px 0; font-weight:600; font-size:50px; color:#4891ae;}
.content_sub > h3 {display:block; margin:80px 0 20px 0; font-size:30px;}

.location {position:relative; text-align:right;}
.location p {position:absolute; top:-30px; right:10px; width:90%; font-size:0;}
.location p span {display:inline-block; padding:0 5px; color:#666; font-size:14px;}
.location p span.span_home {overflow:hidden; width:12px; height:0; padding-top:11px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/icon_home.gif) no-repeat 0 0; text-indent: -10000px;}
.location p span.span_gt {overflow:hidden; width:6px; height:0; padding-top:11px;  background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/icon_arrow.gif) no-repeat center top; text-indent:-10000px;}
.location p span.span_txt_2 {text-decoration:underline; color:#000000;}

#content_area_sub_main {position:relative; padding-top:80px; letter-spacing:-1.5px;}
.echo_list {width:1256px; margin:30px auto 0 auto;}
.echo_list > li {position:relative; float:left; padding:0 12px 24px; overflow:hidden;}
.echo_list > li > div.box_wrap {overflow:hidden; width:290px; height:370px; min-height:370px; background:#f1f0ed;}
.echo_list > li h3 {position:relative; margin:58% 0 0 0; color:#fff; font-size:34px; text-align:center; z-index:100;}
.echo_list > li h4 > strong {display:block; font-size:28px; line-height:130%;}
.echo_list > li span {display:block; margin:18px 0 30px 0; color:#333333; font-size:14px;}
.echo_list > li .txt_area {display:-webkit-box; display:-moz-box; display:-o-box; display:-ms-box; display:box; -webkit-box-orient:vertical; -moz-box-orient:vertical; -o-box-orient:vertical; -ms- box-orient:vertical; -webkit-line-clamp:7; -moz-line-clamp:7; -o-line-clamp:7; -ms-line-clamp:7; line-clamp:7; overflow:hidden; height:173px; color:#5a5a5a; font-size:14px; line-height:24px; white-space:pre-wrap; text-overflow:ellipsis;}
.echo_list > li div.li_div {padding:56px 30px 0px 30px; color:#333333;}

.echo_list > li div.box_wrap > a {display:block; overflow: hidden; position: absolute; top:0; left:0; width:100%; height:0; padding-top:370px; text-indent:-10000px;}
.echo_list > li div.box_wrap > a strong {display:block; width:90px; margin:0 0 0 -25px; padding:50px 0 0 0; text-decoration:underline;}
.echo_list > li div.box_wrap > a:hover {background:#4891ae; opacity:0.95; -moz-opacity:0.95; filter:alpha(opacity=95);}
.echo_list > li div.box_wrap > a:hover:after {position:absolute; top:50%; left:50%; width:90px; height:26px; margin:-34px 0 0 -45px; padding-top:43px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/btn_more_on.png) no-repeat center top; color:#fff; font-size:18px; line-height:26px; text-decoration: underline; text-align:center; text-indent:0; content:'자세히보기';}
/**/
.echo_list li.category_1 > div {background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/img_h2_01.jpg) no-repeat 50% 50%; background-size:100%;}
.echo_list li.category_2 > div {background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/img_h2_02.jpg) no-repeat 50% 50%; background-size:100%;}
.echo_list li.category_3 > div {background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/img_h2_03.jpg) no-repeat 50% 50%; background-size:100%;}
.echo_list li.category_4 > div {background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/img_h2_04.jpg) no-repeat 50% 50%; background-size:100%;}
.echo_list li.category_5 > div {background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/img_h2_05.jpg) no-repeat 50% 50%; background-size:100%;}
.echo_list li.category_6 > div {background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/img_h2_06.jpg) no-repeat 50% 50%; background-size:100%;}
.echo_list li.category_7 > div {background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/img_h2_07.jpg) no-repeat 50% 50%; background-size:100%;}
.echo_list li.category_8 > div {background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/img_h2_08.jpg) no-repeat 50% 50%; background-size:100%;}
.echo_list li.category_9 > div {background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/img_h2_09.jpg) no-repeat 50% 50%; background-size:100%;}
.echo_list li.category_10 > div {background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/img_h2_10.jpg) no-repeat 50% 50%; background-size:100%;}
.btn_more_view {width:1230px; margin:20px auto 0; text-align:center; border:1px solid #cccccc; border-bottom:3px solid #cccccc; clear:both;}
.btn_more_view a {display:block; padding:20px 0; text-align:center; font-size:18px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/_icon_arrow_down_black.png) no-repeat 210px center}
.btn_more_view a:hover {background:#4a8fab url(http://hyundaicard.ipartners.co.kr/kor/images/common/_icon_arrow_down_black.png) no-repeat 210px center; color:#fff;}
.btn_more_view a span {display:block;width:250px;margin:0 auto;background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/icon_arrow_down_black.png) no-repeat 210px center;}
.btn_more_view a:hover span {background:#4a8fab url(http://hyundaicard.ipartners.co.kr/kor/images/common/icon_arrow_down_black.png) no-repeat 210px center;}


.page_num {display:none;}

.layer_echo_pop {position: fixed; z-index: 99999; top: 50%; left: 50%; width:925px; height:auto; margin: -250px 0px 0px -462px; background-color:#fff; letter-spacing:-1px;}
.layer_echo_pop .content_pop {padding:60px 60px 60px 60px;}
.layer_echo_pop .content_pop h4 strong {display:block; font-size:30px;}
.layer_echo_pop .content_pop .p_subtit {display:block; margin:18px 0 30px 0; color:#333333; font-size:14px;}
.layer_echo_pop .content_pop .txt_area {padding-bottom:90px; color:#5a5a5a; font-size:14px; line-height:24px;}
.layer_echo_pop .content_pop .btn_close {position:absolute; top:-60px; right:0;}
.layer_echo_pop .sns_area_w {position:absolute; right:-1px; bottom:0px;}
.layer_echo_pop .sns_area_w a {display:block; overflow: hidden; float:left; width:59px; height:0; padding-top:60px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/img_sns_w.png) no-repeat; text-indent:-10000px;}
.layer_echo_pop .sns_area_w a.sns_1 {width:60px; background-position:0 0;}
.layer_echo_pop .sns_area_w a.sns_2 {background-position:-60px 0px;}
.layer_echo_pop .sns_area_w a.sns_3 {width:58px; background-position:-120px 0;}
.layer_echo_pop .sns_area_w a.sns_4 {width:58px; background-position:-180px 0;}
.layer_echo_pop .sns_area_w a.sns_5 {width:57px; background-position:-240px 0;}
.layer_echo_pop .btn_close a {display: block; overflow:hidden; position: absolute; top:0; right:0; width:60px; height:0; padding-top:60px; background-color:#4891ae; text-indent:-10000px;}
.layer_echo_pop .btn_close a:after {display: block; position: absolute; top:15px; left:15px; width:30px; height:30px; padding-top:60px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/img_sns_w.png) no-repeat -300px 0; content:'';}

.select_list_area {display:none;}
ul.select_list {display:none;}
/* 마스크 뛰우기 */
 #mask {position:fixed; top:0; left:0; width:100%; height:100%; background:#000; overflow: hidden; z-index: 9999;} 
