/* ====================== */
/*  PC  */
/* ====================== */

/*서브메인*/
.sub_visual {width:100%; height:200px;}
.sub_visual.n_01 {position:relative; background:#f1f0ed url(http://hyundaicard.ipartners.co.kr/kor/images/common/img_sub_visual_01.jpg) no-repeat center 0;}
.sub_visual	h2 {display:block; padding:74px 0 0 0; text-align:center; font-size:60px; color:#333333;}
.navi_area {}
.navi_area .btn_prev {position:absolute; top:63px; left:17px; width:38px; height:73px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/btn_prev.png) no-repeat;}
.navi_area .btn_next {position:absolute; top:63px; right:17px; width:38px; height:73px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/btn_next.png) no-repeat;}
.navi_area .btn_prev strong {display:block;position:absolute;top:27px;left:68px;width:200px;font-size:18px;}
.navi_area .btn_next strong {display:table;position:absolute;top:27px;right:68px;text-align:right;font-size:18px;}
.content_sub {width:1240px; margin:0 auto;}
.content_sub>h2 strong {display:block; margin:60px 0 40px 0; font-size:50px; color:#4891ae;}

.location {position:relative; text-align:right;}
.location ul {position:absolute; top:-30px; right:0; padding:0 0px 0 22px; font-size:14px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/icon_home.gif) no-repeat 0 3px;}
.location li {float:left; padding:0 11px 0 11px; color:#666666; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/icon_arrow.gif) no-repeat left 2px;}
.location li:last-child	{text-decoration:underline; color:#000000;}

#content_area_sub_main {position:relative; padding-top:80px; letter-spacing:-1.5px;}
.echo_list {width:1280px;margin:30px auto 0 auto;}
.echo_list li {position:relative;float:left;width:290px;height:370px;min-height:370px;margin:0 24px 24px 0;background:#f1f0ed;overflow:hidden;}
.echo_list li h3 {position:relative;margin:50% 0 0 0;color:#fff;font-size:34px;text-align:center;z-index:100;}
.echo_list li h4>strong {display:block;font-size:30px;}
.echo_list li span {display:block;margin:18px 0 30px 0;color:#333333;font-size:14px;}
.echo_list li .txt_area {color:#5a5a5a;font-size:14px;line-height:24px;white-space:pre-wrap;text-overflow:ellipsis;overflow:hidden;}
.echo_list div {padding:56px 30px 0px 30px;color:#333333;}

.echo_list div:hover {height:315px;font-size:18px;background:#5196b1;filter:alpha(opacity=95);opacity:0.95;-moz-opacity:0.95;cursor:pointer;}
.echo_list div:hover a {position:absolute;top:50%;left:50%;margin:0 0 0 -28px;width:43px;height:43px;color:#fff;text-align:center;background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/btn_more_on.png) no-repeat;}
.echo_list div:hover a strong {display:block;width:90px;margin:0 0 0 -25px;padding:50px 0 0 0;text-decoration:underline;}
/**/
.echo_list div.img_h2_01 {width:290px;height:370px;min-height:370px;margin:-180px 0 0 0;background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/img_h2_01.jpg) no-repeat;}
.echo_list div.img_h2_02 {width:290px;height:370px;min-height:370px;margin:-213px 0 0 0;background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/img_h2_02.jpg) no-repeat;}
.btn_more_view {width:1230px;text-align:center;border:1px solid #cccccc;border-bottom:3px solid #cccccc;clear:both;}
.btn_more_view a {width:100%;display:block;font-size:18px;outline:1px solid #c64;}
.btn_more_view a span {display:block;padding:20px 0 20px 10px;background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/icon_arrow_down_black.png) no-repeat 60% center;}
.btn_more_view a span:hover {background:#4a8fab url(http://hyundaicard.ipartners.co.kr/kor/images/common/icon_arrow_down_black.png) no-repeat 60% center;outline:1px solid #c64;}

.page_num {display:none;}

.layer_pop {position:relative; width:925px; height:auto; background:#fff; z-index:1000; letter-spacing:-1px;}
.layer_pop .content_pop {padding:60px 60px 60px 60px;}
.layer_pop .content_pop strong {display:block; font-size:30px;}
.layer_pop .content_pop span {display:block; margin:18px 0 30px 0; color:#333333; font-size:14px;}
.layer_pop .content_pop .txt_area {padding-bottom:90px; color:#5a5a5a; font-size:14px; line-height:24px;}
.layer_pop .content_pop .btn_close {position:absolute; top:-60px; right:0;}
.layer_pop .sns_area_w {position:absolute; right:-4px; bottom:0px;}
.layer_pop .sns_area_w a {display:block; float:left; width:295px; height:59px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/img_sns_w.gif) no-repeat; background-size: cover;}
.layer_pop .sns_area_w a:first-child {width:60px; height:60px; background-position:0 0;}
.layer_pop .sns_area_w a:nth-child(2){width:60px; height:60px; background-position:-60px 0px;}
.layer_pop .sns_area_w a:nth-child(3){width:60px; height:60px; background-position:-120px 0;}
.layer_pop .sns_area_w a:nth-child(4){width:60px; height:60px; background-position:-180px 0;}
.layer_pop .sns_area_w a:last-child {width:60px; height:60px; background-position:-240px 0;}

.select_list_area {display:none;}
ul.select_list {display:none;}
/* 마스크 뛰우기 */
 #mask {position:absolute; background:#000; display:none; left:0; top:0; width:100%; overflow: hidden; z-index: 9999;} 

/* ====================== */
/*  tablet   */
/* ====================== 
@media screen and (min-width:769px) and (max-width:1024px) {

}
 */

/* ====================== */
/*  mobile   */
/* ====================== */                            
@media only screen and (max-width:1024px){
	/*서브메인*/
	.sub_visual {width:100%; height:50px;}
	.sub_visual.n_01 { background:#4891ae;}
	.sub_visual	h2 {display:block; padding:12px 0 0 0; text-align:center; font-size:20px; color:#fff;}
	.navi_area {}
	.navi_area .btn_prev {position:absolute; top:15px; left:15px; width:9px; height:16px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/btn_prev_m.png) no-repeat; background-size: cover;}
	.navi_area .btn_next {position:absolute; top:15px; right:15px; width:9px; height:16px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/btn_next_m.png) no-repeat; background-size: cover;}
	.navi_area strong {display:none;}
	.content_sub {}
	.content_sub>h2 strong {display:none;}

	.location {display:none;}

	.echo_list {margin:30px auto 0 auto; padding:0 15px; overflow:hidden;}
	.echo_list li {width:100%;position:relative; float:left; width:290px; height:100%; min-height:370px; margin:0 24px 24px 0;background:#fff;overflow:hidden;}
	.echo_list li h3 {position:relative; margin:64% 0 0 0; color:#fff; font-size:25px; text-align:center; z-index:100;}
	.echo_list li h4>strong {display:block; font-size:22px;}
	.echo_list li span {display:block; margin:18px 0 30px 0; color:#333333; font-size:14px;}
	.echo_list li .txt_area { min-height:250px; margin-bottom:60px; color:#5a5a5a; font-size:14px; line-height:24px;}
	.echo_list div {height:100%; padding:40px 20px 0 20px; border:1px solid #d6d6d6;}
	.echo_list div.on {display:block;}	 
	.echo_list a strong {display:none;}
	.echo_list div.img_h2_01 {width:290px; height:370px; min-height:370px; margin:-211px 0 0 0; border:none; background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/img_h2_01.jpg) no-repeat;}
	.echo_list div.img_h2_02 {width:290px; height:370px; min-height:370px; margin:-235px 0 0 0; border:none; background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/img_h2_02.jpg) no-repeat;}

	.select_list_area {display:block; position:relative;width:100%;margin:15px -15px 0 15px;;}
	.select_list_area p {padding:13px 0px 13px 15px; font-size:15px; border-bottom:1px solid #fff; background:#333333;}
	.select_list_area p span {position:absolute; display:block; top:19px; right:10px; width:13px; height:7px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/icon_arrow_down_m.png) no-repeat; background-size: cover;}
	.select_list_area p span.on {display:block; width:26px; height:13px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/icon_arrow_up.png) no-repeat;}
	.select_list_area p a {color:#fff;}

	ul.select_list {display:block;position:absolute; padding:0px 0 8px 0; background:#fff; z-index:1000;}
	ul.select_list>li {padding:14px 0 14px 13px; font-size:15px; border:1px solid #cccccc; border-top:none;}
	ul.select_list>li a {position:relative; top:4px; display:inline-block; color:#000; overflow:hidden;}
	ul.select_list>li.on {display:block; background:#333333;}
	ul.select_list>li.on a {text-decoration:underline; color:#fff;}

	.btn_more_view {display:none;}
	
	.sns_area {position:absolute; right:1px; bottom:1px; margin-top:20px;}
	.sns_area a { float:left; width:198px; height:40px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/img_sns.gif) no-repeat; background-size: cover;}
	.sns_area a:first-child {width:40px; height:40px; background-position:0 0;}
	.sns_area a:nth-child(2){width:40px; height:40px; background-position:-40px 0;}
	.sns_area a:nth-child(3){width:40px; height:40px; background-position:-80px 0;}
	.sns_area a:nth-child(4){width:40px; height:40px; background-position:-120px 0;}
	.sns_area a:last-child {width:40px; height:40px; background-position:-160px 0;}
	.page_num {display:block;margin:50px 0 0 0; font-size:26px; text-align:center;}
	.page_num strong {text-decoration:underline;}

	.navi_area_page {}
	.navi_area_page .btn_prev {position:absolute; top:48%; left:0; width:40px; height:40px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/btn_prev_page.png) no-repeat; z-index:100; background-size: cover;}
	.navi_area_page .btn_next {position:absolute; top:48%; right:0; width:40px; height:40px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/btn_next_page.png) no-repeat; z-index:100; background-size: cover;}

	.layer_pop {display:none;}
}