
@media screen and (min-width:769px) and (max-width:1024px) {
}
@media only screen and (max-width:1024px){

    h1 {margin:14px 0 14px 0; text-align:center;}
    .btn_menu {display:block;position:absolute; top:25px; left:15px; width:27px; height:25px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/btn_menu.png) no-repeat; background-size:100%;}
    .btn_close {position:absolute; top:25px; left:15px; width:27px; height:25px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/btn_close.png) no-repeat; background-size:100%;}
    #header {position:fixed; width:100%; height:auto; border-bottom:6px solid #4892af; z-index:1; background:#fff;} 
    #gnb {font-family:'modernh-bold-webfont'; position:absolute; width:100%; border-bottom:3px solid #4892af; z-index:1;}
    #gnb ul {margin:0 0 -5px 0; font-size:19px;}
    #gnb ul>li {width:100%; margin:0 0 0px 0; padding:18px 15px 18px 20px; border-bottom:1px solid #336b81; text-align:left; background:#4891ae url(http://hyundaicard.ipartners.co.kr/kor/images/common/icon_arrow_up.png) no-repeat 90% 25px; background-size:13px 7px;}
    #gnb ul>li.on {background:#4891ae url(http://hyundaicard.ipartners.co.kr/kor/images/common/icon_arrow_down.png) no-repeat 90% 25px; background-size:13px 7px;}
    #gnb ul>li.on>a {text-decoration:underline;}
    #gnb ul>li>a {display:block; color:#fff;}
    #gnb ul>li ul {margin:0;}
    #gnb ul>li ul>li {padding:8px 0 8px 40px; font-size:13px; border-bottom:none; background:#fff;}
    #gnb ul>li ul>li>a {color:#000;}
    #gnb ul>li ul>li>a:hover {text-decoration:underline; color:#4891ae;}

    #gnb ul>li:after {content:""; clear:both; display:block;}
    #header .lang a {position:absolute; top:24px; right:15px; font-size:18px; color:#999999;}
    .gnb_area {width:100%; border-top:1px solid #e5e5e5;}
    .gnb_sub_area_01,.gnb_sub_area_02 {margin:20px 0 -18px -35px; padding:0 0 0 0px; border-bottom:1px solid #e5e5e5;}
    .gnb_sub {padding:0 0 0 0px;}
    .gnb_sub strong a {display:block; margin:0 0 0 0px; padding:10px 0 10px 40px; font-size:13px; color:#000; background:#e2e2e2;}

    #content_area_main {padding-top:80px;}
    #content_area_main .btn_prev {display:none; position:absolute; top:420px; left:0; z-index:1;}
    #content_area_main .btn_next {display:none; position:absolute; top:420px; right:0; z-index:1;}

    .page {position:absolute; top:95px; left:50%; width:105px; margin:0 0 0 -50px; text-align:center;}
    .page li a {float:left; width:20px; height:20px; margin:0 15px 0 0; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/btn_off.png) no-repeat;}
    .page li a.on {background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/btn_on.png) no-repeat;}

    #content_area_main {overflow:hidden; background:#f1f0ed;}
    .main_visual {width:300%;}
    .main_visual ul {}
    .main_visual ul li {display:block; float:left; position:relative; width:33%; height:auto;}
    .main_visual ul li.img_01 {background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/m_img_visual_01.jpg) no-repeat; background-size:100%;}
    .main_visual ul li.img_02 {background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/m_img_visual_02.jpg) no-repeat; background-size:100%;}
    .main_visual ul li.img_03 {background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/m_img_visual_03.jpg) no-repeat; background-size:100%;}
    .main_visual ul li .txt_01 {position:absolute; top:12%; left:10%;}
    .main_visual ul li .txt_01 img {width:75%;}
    .main_visual ul li
    .main_visual ul li
    .main_visual ul li:after {content:""; clear:both; display:block;}

    .main_movie_area {padding:90% 15px 0 15px;}
    .main_movie_area a {display:block; padding:0 0 15px 0;}
    .main_movie_area a img {width:100%;}

    /*서브메인*/

    #footer {width:100%; background:#fff;}
    #footer p {font-family:'modernh-medium-webfont'; margin:30px 0 30px 30px; font-size:18px;}
}



/* ====================== */
/*  tablet   */
/* ====================== 
@media screen and (min-width:769px) and (max-width:1024px) {

}
 */

/* ====================== */
/*  mobile   */
/* ====================== */                            
@media only screen and (max-width:1024px){
    /*서브메인*/
    .sub_visual {width:100%; height:50px;}
    .sub_visual.n_01 { background:#4891ae;}
    .sub_visual h2 {display:block; padding:12px 0 0 0; text-align:center; font-size:20px; color:#fff;}
    .navi_area {}
    .navi_area .btn_prev {position:absolute; top:15px; left:15px; width:9px; height:16px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/btn_prev_m.png) no-repeat; background-size: cover;}
    .navi_area .btn_next {position:absolute; top:15px; right:15px; width:9px; height:16px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/btn_next_m.png) no-repeat; background-size: cover;}
    .navi_area strong {display:none;}
    .content_sub {}
    .content_sub>h2 strong {display:none;}

    .location {display:none;}

    .echo_list {margin:30px auto 0 auto; padding:0 15px; overflow:hidden;}
    .echo_list li {width:100%; position:relative; float:left; width:290px; height:100%; min-height:370px; margin:0 24px 24px 0; background:#fff; overflow:hidden;}
    .echo_list li h3 {position:relative; margin:64% 0 0 0; color:#fff; font-size:25px; text-align:center; z-index:100;}
    .echo_list li h4>strong {display:block; font-size:22px;}
    .echo_list li span {display:block; margin:18px 0 30px 0; color:#333333; font-size:14px;}
    .echo_list li .txt_area { min-height:250px; margin-bottom:60px; color:#5a5a5a; font-size:14px; line-height:24px;}
    .echo_list div {height:100%; padding:40px 20px 0 20px; border:1px solid #d6d6d6;}
    .echo_list div.on {display:block;}   
    .echo_list a strong {display:none;}
    .echo_list div.img_h2_01 {width:290px; height:370px; min-height:370px; margin:-211px 0 0 0; border:none; background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/img_h2_01.jpg) no-repeat;}
    .echo_list div.img_h2_02 {width:290px; height:370px; min-height:370px; margin:-235px 0 0 0; border:none; background:url(http://hyundaicard.ipartners.co.kr/kor/images/echo/img_h2_02.jpg) no-repeat;}

    .select_list_area {display:block; position:relative; width:100%; margin:15px -15px 0 15px; ;}
    .select_list_area p {padding:13px 0px 13px 15px; font-size:15px; border-bottom:1px solid #fff; background:#333333;}
    .select_list_area p span {position:absolute; display:block; top:19px; right:10px; width:13px; height:7px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/icon_arrow_down_m.png) no-repeat; background-size: cover;}
    .select_list_area p span.on {display:block; width:26px; height:13px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/icon_arrow_up.png) no-repeat;}
    .select_list_area p a {color:#fff;}

    ul.select_list {display:block; position:absolute; padding:0px 0 8px 0; background:#fff; z-index:1000;}
    ul.select_list>li {padding:14px 0 14px 13px; font-size:15px; border:1px solid #cccccc; border-top:none;}
    ul.select_list>li a {position:relative; top:4px; display:inline-block; color:#000; overflow:hidden;}
    ul.select_list>li.on {display:block; background:#333333;}
    ul.select_list>li.on a {text-decoration:underline; color:#fff;}

    .btn_more_view {display:none;}
    
    .sns_area {position:absolute; right:1px; bottom:1px; margin-top:20px;}
    .sns_area a { float:left; width:198px; height:40px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/img_sns.gif) no-repeat; background-size: cover;}
    .sns_area a:first-child {width:40px; height:40px; background-position:0 0;}
    .sns_area a:nth-child(2){width:40px; height:40px; background-position:-40px 0;}
    .sns_area a:nth-child(3){width:40px; height:40px; background-position:-80px 0;}
    .sns_area a:nth-child(4){width:40px; height:40px; background-position:-120px 0;}
    .sns_area a:last-child {width:40px; height:40px; background-position:-160px 0;}
    .page_num {display:block; margin:50px 0 0 0; font-size:26px; text-align:center;}
    .page_num strong {text-decoration:underline;}

    .navi_area_page {}
    .navi_area_page .btn_prev {position:absolute; top:48%; left:0; width:40px; height:40px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/btn_prev_page.png) no-repeat; z-index:100; background-size: cover;}
    .navi_area_page .btn_next {position:absolute; top:48%; right:0; width:40px; height:40px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/common/btn_next_page.png) no-repeat; z-index:100; background-size: cover;}

    .layer_pop {display:none;}
}



/* ====================== */
/*  tablet   */
/* ====================== 
@media screen and (min-width:769px) and (max-width:1024px) {

}
 */

/* ====================== */
/*  mobile   */
/* ====================== */                            
@media only screen and (max-width:1024px){
    .dream_list  {padding-top:80px;}
    .dream_list  {overflow:hidden;}
    .dream_list  li {padding:0 2px 2px 0;}
    .dream_list  li:last-item {padding:0 0px 2px 0;}
    .dream_list  div {}
    .dream_list  p {padding:80px 0 0 0; text-align:center;}
    .dream_list  p img {height::10%;}
    .dream_list  p a {position:absolute; top:60%; left:50%; width:154px; height:52px; margin:0 0 0 -77px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/btn_detail_view.png) no-repeat;}   
    .dream_list  p a.on {background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/btn_detail_view_on.png) no-repeat;}     
    .dream_list  .li_1 {position:relative; min-height:308px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_dream_01.jpg) no-repeat; background-size: contain;}
    .dream_list  .li_2 {position:relative; height:308px; margin:0 -100px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_dream_02.jpg) no-repeat; background-size: contain;}
    .dream_list  .li_3 {position:relative; height:308px; margin:0 -100px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_dream_03.jpg) no-repeat; background-size: contain;}
    .dream_list  .li_4 {position:relative; height:308px; margin:0 -100px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_dream_04.jpg) no-repeat; background-size: contain;}
    .dream_list  .li_5 {position:relative; height:308px; margin:0 -100px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_dream_05.jpg) no-repeat; background-size: cover;}
    .dream_list  .li_6 {position:relative; height:308px; margin:0 -100px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_dream_06.jpg) no-repeat; background-size: cover;}
    .dream_list  .li_7 {position:relative; height:308px; margin:0 -100px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_dream_07.jpg) no-repeat; background-size: cover;}
    .dream_list  .li_8 {position:relative; height:308px; margin:0 -100px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_dream_08.jpg) no-repeat; background-size: cover;}
    .dream_list  .li_9 {position:relative; height:308px; margin:0 -100px; background:url(http://hyundaicard.ipartners.co.kr/kor/images/main/img_sub_main_dream_09.jpg) no-repeat; background-size: cover;}

    .movie_area {position:relative;width:100%;height:488px;margin-bottom:60px;overflow:hidden;outline:1px solid #c64;}
    .movie_area .movie {position:absolute;width:100%;height:488px;outline:1px solid #c64;}
    .movie_area textarea {display:none;}

    .content_area {}
    .content_area h3 {font-size:30px;}
    .content_area .img_area {width:100%;padding:29px 0 0 0;overflow:hidden;}
    .content_area .txt_area {width:100%;overflow:hidden;}
    .content_area .img_area p {margin:0 40px 0 0;clear:both;}
    .content_area .img_area p img {max-width:600px;width:100%;}
    .content_area .img_area p:last-child {margin:0 0px 0 0;}
    .content_area .txt_area div {margin:0 40px 0 0;}
    .content_area .txt_area div:last-child {margin:0 0px 0 0;}
    .content_area .txt_area .txt_area_01 {}
    .content_area .txt_area .txt_area_02 {width:100%;}
    .content_area .txt_area .txt_01 {margin:34px 0 0 0;font-size:14px;line-height:140%;}
    .content_area .txt_area .txt_02 {display:block;margin:32px 0 0 0;font-size:18px;line-height:140%;}




}